<form class="form" autocomplete="off" [formGroup]="form" (ngSubmit)="submit()">
    <div class="form__field" [ngClass]="{
        'is-error': form | hasError: 'email',
        'has-value': form | hasValue: 'email',
    }">
        <div class="form__input">
            <label class="form__label" for="email" i18n="form email label">Email</label>
            <input type="email" id="email" formControlName="email"/>
        </div>
        @if (form | showError: 'email' :'required') {
            <div class="form__error" i18n="form email errors required">Email is required</div>
        }
        @if (form | showError: 'email' :'email') {
            <div class="form__error" i18n="form email errors invalid">Email is invalid</div>
        }
        @if (emailTaken) {
            <div class="form__error" i18n="form email errors taken">Email already in use</div>
        }
    </div>

    <div class="form__field" [ngClass]="{
        'is-error': form | hasError: 'password',
        'has-value': form | hasValue: 'password',
    }">
        <div class="form__input">
            <label class="form__label" for="password" i18n="form password label">Password</label>
            <input type="password" id="password" formControlName="password"/>
        </div>
        @if (form | showError: 'password' :'required') {
            <div class="form__error" i18n="form password errors required">Password is required</div>
        }
    </div>

    <div class="form__field" [ngClass]="{
        'is-error': form | hasError: 'passwordConfirm',
        'has-value': form | hasValue: 'passwordConfirm',
    }">
        <div class="form__input">
            <label class="form__label"  for="passwordConfirm" i18n="form passwordConfirm label">Confirm password</label>
            <input type="password" id="passwordConfirm" formControlName="passwordConfirm"/>
        </div>
        @if (form | showError: 'passwordConfirm' :'required') {
            <div class="form__error" i18n="form passwordConfirm errors equal">Passwords do not match</div>
        }
        @if (form.hasError('noMatch')) {
            <div class="form__error" i18n="form passwordConfirm errors equal">Passwords do not match</div>
        }
    </div>

    <giz-password-strength [password]="password?.value"></giz-password-strength>

    @if (form | showError: 'password' :'passwordLength') {
        <div class="form__error" i18n="form password errors length">Password must be between 12 & 200 characters</div>
    }
    @if (form | showError: 'password' :'passwordUpperAndLowerCase') {
        <div class="form__error" i18n="form password errors case">Password must contain upper- and lowercase characters</div>
    }
    @if (form | showError: 'password' :'passwordNumbers') {
        <div class="form__error" i18n="form password errors numbers">Password must contain numbers</div>
    }
    @if (form | showError: 'password' :'passwordSpecialCharacters') {
        <div class="form__error" i18n="form password errors special">Password must contain special characters</div>
    }

    @if (submitting) {
        <div class="form__spinner">
            <giz-spinner [theme]="'grey'"></giz-spinner>
            <span i18n="form state creating">Creating...</span>
        </div>
    }

    <div class="form__footer">
        <div class="form__buttons">
            <a giz-link-button [routerLink]="(authroute.LOGIN)" i18n="login back">Back to login</a>
        </div>
        <div class="form__buttons">
            <button type="submit" giz-button i18n="register continue">Continue</button>
        </div>
    </div>
</form>
