<form class="form" autocomplete="off" [formGroup]="form" (ngSubmit)="submit()">
    <div class="form__field" [ngClass]="{
        'is-error': form | hasError: 'email',
        'has-value': form | hasValue: 'email',
    }">
        <div class="form__input">
            <label class="form__label" for="email" i18n="form email label">Email</label>
            <input type="email" id="email" formControlName="email"/>
        </div>
        @if (form | showError: 'email' :'required') {
            <div class="form__error" i18n="form email errors required">Email is required</div>
        }
        @if (form | showError: 'email' :'email') {
            <div class="form__error" i18n="form email errors invalid">Email is invalid</div>
        }
    </div>

    <div class="form__field" [ngClass]="{
        'is-error': form | hasError: 'password',
        'has-value': form | hasValue: 'password',
    }">
        <div class="form__input">
            <label class="form__label" for="password" i18n="form password label">Password</label>
            <input type="password" id="password" formControlName="password"/>
        </div>
        @if (form | showError: 'password' :'required') {
            <div class="form__error" i18n="form password errors required">Password is required</div>
        }
        @if (wrongPassword) {
            <div class="form__error" i18n="form password-email errors incorrect">Either your email address or your password is incorrect.</div>
        }
    </div>


    @if (submitting) {
        <div class="form__spinner">
            <giz-spinner [theme]="'grey'"></giz-spinner>
            <span i18n="form state login">Login in...</span>
        </div>
    }

    <div class="form__footer">
        <div class="form__button">
            <a giz-link-button [routerLink]="[moduleRoute.AUTH, authroute.PASSWORD_RESET]" i18n="login forgot-password">Forgot password?</a>
        </div>
        <div class="form__button">
            <button type="submit" giz-stroke-button i18n="continue">Continue</button>
        </div>
    </div>
</form>
