<giz-entry-header
    [title]="title"
    [backButton]="{
        icon: icon.LIST,
        text: backTitle,
        link: [moduleRoute.ENTRIES]
    }"
>
    <a giz-stroke-button [routerLink]=" [moduleRoute.ENTRIES, entryId(), entryRoute.SCENARIO ]"
       i18n="continue">Continue</a>
</giz-entry-header>
<div class="info">
    @if (!entry || entry.isLoading()) {
        <giz-spinner class="info__spinner" [size]="'large'"></giz-spinner>
    } @else if (entry.isError() || !entry.data()) {
        <giz-no-results>
            <p i18n="entry error">Error getting entry.</p>
        </giz-no-results>
    } @else {
        @if (entry.data(); as entry) {
            <div class="info__column">
                <giz-table type="info" [caption]="captionGeneral" captionSize="small" class="info__table">
                    <ng-container>
                        <tr giz-table-row>
                            <th giz-table-header-cell i18n="entry facility label">Facility</th>
                            <td giz-table-cell>{{ entry.facility.name | empty }}</td>
                        </tr>
                        <tr giz-table-row>
                            <th giz-table-header-cell i18n="entry country label">Country</th>
                            <td giz-table-cell>{{ entry.facility.country | empty }}</td>
                        </tr>
                        <tr giz-table-row>
                            <th giz-table-header-cell i18n="entry currency label">Currency</th>
                            <td giz-table-cell>{{ entry.payroll.currencyCode | empty }}</td>
                        </tr>
                    </ng-container>
                </giz-table>

                <giz-table type="info" [caption]="captionProductionInfo" captionSize="small" class="info__table">
                    <ng-container>
                        <tr giz-table-row>
                            <th giz-table-header-cell i18n="entry products label">Product(s)</th>
                            <td giz-table-cell>{{ entry.facility.products | empty }}</td>
                        </tr>
                        <tr giz-table-row>
                            <th giz-table-header-celli18n="entry annual-production label">Annual production</th>
                            <td giz-table-cell>{{ entry.facility.production.amount | number: '1.0-2' | empty }} {{ entry.facility.production.unit }}</td>
                        </tr>
                    </ng-container>
                </giz-table>

                <giz-table type="info" [caption]="captionPayroll" captionSize="small" class="info__table">
                    <ng-container>
                        <tr giz-table-row>
                            <th giz-table-header-cell i18n="entry year label">Year</th>
                            <td giz-table-cell>{{ entry.payroll.year | empty }}</td>
                        </tr>
                        <tr giz-table-row>
                            <th giz-table-header-cell i18n="entry job-categories label"># Job categories</th>
                            <td giz-table-cell>{{ entry.payroll.nrOfJobCategories | number: '1.0-2' | empty }}</td>
                        </tr>
                        <tr giz-table-row>
                            <th giz-table-header-cell i18n="entry workers label"># Workers</th>
                            <td giz-table-cell>{{ entry.payroll.nrOfWorkers | number: '1.0-2' | empty }}</td>
                        </tr>
                        <tr giz-table-row>
                            <th giz-table-header-cell i18n="entry workers-below-living-wage label"># Workers - Below living wage</th>
                            <td giz-table-cell>{{ entry.livingWage?.nrOfWorkersBelowLivingWage | number: '1.0-2' | empty }}</td>
                        </tr>
                    </ng-container>
                </giz-table>
            </div>
            <div class="info__column">
                <giz-table type="info" [caption]="captionSalaryMatrix" captionSize="small" class="info__table">
                    <ng-container>
                        <tr giz-table-row>
                            <th giz-table-header-cell i18n="entry matrix-id label">Matrix ID</th>
                            <td giz-table-cell type="copy">
                                @if (entry.matrix?.id) {
                                    <button
                                        giz-icon-button
                                        [icon]="icon.COPY"
                                        [theme]="'basic'"
                                        [size]="'small'"
                                        [cdkCopyToClipboard]="entry.matrix?.id ?? '' | uppercase"
                                        i18n="copy"
                                    >Copy</button>
                                }
                                {{ entry.matrix?.id | uppercase | empty }}
                            </td>
                        </tr>
                        <tr giz-table-row>
                            <th giz-table-header-cell i18n="entry facility-id label">Facility ID</th>
                            <td giz-table-cell type="copy">
                                @if (entry.facility.id) {
                                    <button
                                        giz-icon-button
                                        [icon]="icon.COPY"
                                        [theme]="'basic'"
                                        [size]="'small'"
                                        [cdkCopyToClipboard]="entry.facility.id"
                                        i18n="copy"
                                    >Copy</button>
                                }
                                {{ entry.facility.id | empty }}
                            </td>
                        </tr>
                        <tr giz-table-row>
                            <th giz-table-header-cell i18n="entry verified label">Verified?</th>
                            <td giz-table-cell>{{ !!entry.matrix?.verified | verified }}</td>
                        </tr>
                    </ng-container>
                </giz-table>
                <giz-table type="info" [caption]="captionBenchmark" captionSize="small" class="info__table">
                    <ng-container>
                        <tr giz-table-row>
                            <th giz-table-header-cell i18n="entry benchmark label">Name</th>
                            <td giz-table-cell>{{ entry.benchmark.name | empty }}</td>
                        </tr>
                        <tr giz-table-row>
                            <th giz-table-header-cell i18n="entry region label">Region</th>
                            <td giz-table-cell>{{ entry.benchmark.region | empty }}</td>
                        </tr>
                        <tr giz-table-row>
                            <th giz-table-header-cell i18n="entry amount label">Amount</th>
                            <td giz-table-cell>{{ entry.benchmark.value | currency: currencyCode : ''  | empty }} {{ currencyCode }}</td>
                        </tr>
                    </ng-container>
                </giz-table>
                <giz-table type="info" [caption]="captionEntry" captionSize="small" class="info__table">
                    <ng-container>
                        <tr giz-table-row>
                            <th giz-table-header-cell i18n="entry entry-id label">Entry ID</th>
                            <td giz-table-cell type="copy">
                                <button
                                    giz-icon-button
                                    [icon]="icon.COPY"
                                    [theme]="'basic'"
                                    [size]="'small'"
                                    [cdkCopyToClipboard]="entry.id | uppercase"
                                    i18n="copy"
                                >Copy</button>
                                {{ entry.id | uppercase | empty }}
                            </td>
                        </tr>
                        <tr giz-table-row>
                            <th giz-table-header-cell i18n="entry created-on label">Created on</th>
                            <td giz-table-cell>{{ entry.createdAt | date | empty }}</td>
                        </tr>
                        <tr giz-table-row>
                            <th giz-table-header-cell i18n="entry edited-on label">Edited on</th>
                            <td giz-table-cell>{{ entry.updatedAt | date | empty }}</td>
                        </tr>
                    </ng-container>
                </giz-table>
            </div>
        } @else {
            <giz-no-results>
                <p i18n="entry error not-found">Entry not found</p>
            </giz-no-results>
        }
    }
</div>
