@import 'config/colors';
@import 'config/sizes';
@import 'mixins/screen';
@import 'mixins/typography';

.info {
    --table-cell-padding: 0.5rem #{ $p-gutter--small };

    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    &__table {
        line-height: 1.7;
        margin-bottom: 1.5rem;

        td, th {
            word-break: keep-all;
        }

        tbody {
            td {
                text-align: right;
            }
        }
    }

    &__copy-cell {
        white-space: nowrap;
    }

    &__spinner {
        margin: 0 auto;
    }

    @include screen($screen-simple) {
        --table-cell-padding: 0.5rem #{ $p-gutter };
    }

    @include screen($screen-normal) {
        flex-direction: row;

        &__column {
            flex: 0 1 50%;
        }
    }
}
