.info {
    &__header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 2rem;
    }

    &__heading {
        align-items: center;
        display: flex;
        gap: 1rem;
    }

    &__title {
        font-size: 1.25rem;
        margin: 0;
    }
}
