<div class="info">
    <div class="info__header">
        <div class="info__heading">
            <a giz-icon-button [icon]="icon.ARROW_BACK" [routerLink]="moduleRoute.ENTRY | route"></a>
            <h3 class="info__title">Information</h3>
        </div>
        <button giz-stroke-button>Continue</button>
    </div>

    <table>
        <tbody>
        <tr>
            <td>text1.1</td>
            <td>text1.2</td>
        </tr>
        <tr>
            <td>text2.1</td>
            <td>text2.2</td>
        </tr>
        <tr>
            <td>text3.1</td>
            <td>text3.2</td>
        </tr>
        <tr>
        </tr>
        </tbody>
    </table>
</div>
