@use 'config' as *;
@use 'mixins/screen';
@use 'mixins/typography';

.info {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    &__spinner {
        margin: 0 auto;
    }

    @include screen.min($screen-normal) {
        flex-direction: row;

        &__column {
            flex: 0 1 50%;
        }
    }
}
