<giz-auth-content
    [title]="getTitle(currentStep$.value)"
    [description]="getDescription(currentStep$.value)"
    [icon]="currentStep$.value === resetPasswordSteps.DONE ? icon.CHECK : undefined"
>
    @if (currentStep$.value === resetPasswordSteps.FORGOT_PASSWORD) {
        <giz-forgot-password
            [submitting]="submitting"
            (submitForm)="reset($event)"
        ></giz-forgot-password>
    }

    @if (currentStep$.value === resetPasswordSteps.RESET_CODE) {
        <giz-reset
            [codeInvalid]="codeInvalid"
            [emailAddress]="emailAddress"
            (sendNewCode)="sendNewCode()"
            [submitting]="verificationSubmitting"
            (submitForm)="verify($event)"
        ></giz-reset>
    }

    @if (currentStep$.value === resetPasswordSteps.NEW_PASSWORD) {
        <giz-new-password
            [code]="resetCode"
            [email]="emailAddress"
            [submitting]="newPasswordSubmitting"
            (submitForm)="setNewPassword($event)"
        ></giz-new-password>
    }

    @if (currentStep$.value === resetPasswordSteps.DONE) {
        <a giz-button [routerLink]="[moduleRoute.AUTH, authRoute.LOGIN]" i18n="continue">Continue to login</a>
    }

    <ng-container auth-footer>
        <giz-stepper
            [steps]="steps"
            [activeStep]="currentStep$.value"
        ></giz-stepper>
    </ng-container>
</giz-auth-content>
