@use 'sass:color';
@use 'config' as *;
@use 'mixins/button';
@use 'mixins/sr-only';

:root {
    --button-background: #{ $c-thunderbird-1 };
    --button-border: #{ $c-thunderbird-1 };
    --button-color: #{ $c-white };
    --button-background-hover: #{ $c-thunderbird-3 };
    --button-border-hover: #{ $c-thunderbird-3 };
    --button-color-hover: #{ $c-white };
    --button-background-disabled: #{ $c-thunderbird-4 };
    --button-border-disabled: #{ $c-thunderbird-4 };
    --button-color-disabled: #{ $c-white };
}

.button {
    $self: &;

    @include button.base;
    @include button.style(
        var(--button-background),
        var(--button-border),
        var(--button-color),
        var(--button-background-hover),
        var(--button-border-hover),
        var(--button-color-hover),
        var(--button-background-disabled),
        var(--button-border-disabled),
        var(--button-color-disabled),
    );

    &__text {
        max-width: 100%;
        overflow: hidden;
        position: relative;
        text-overflow: ellipsis;
        white-space: nowrap;

        & + #{ $self }__icon {
            margin-left: 0.5rem;
        }
    }

    &__icon {
        --icon-size: 20px;

        display: block;
        height: 18px;
        width: 18px;

        & + #{ $self }__text {
            margin-left: 0.5rem;
        }
    }

    &--basic {
        --button-background: #{ $c-white };
        --button-border: #{ $c-white };
        --button-color: #{ $c-grey--900 };
        --button-background-hover: #{ color.scale($c-black, $alpha: -94%) };
        --button-border-hover: #{ color.scale($c-black, $alpha: -94%) };
        --button-color-hover: #{ $c-grey--900 };
        --button-background-disabled: #{ $c-white };
        --button-border-disabled: #{ $c-white };
        --button-color-disabled: #{ color.scale($c-black, $alpha: -60%) };
    }

    &--stroke {
        --button-background: #{ $c-white };
        --button-border: #{ $c-black-transparent};
        --button-color: #{ $c-thunderbird-1 };
        --button-background-hover: #{ $c-thunderbird-5 };
        --button-border-hover: #{ $c-black-transparent };
        --button-color-hover: #{ $c-thunderbird-1 };
        --button-background-disabled: #{ $c-white };
        --button-border-disabled: #{ $c-black-transparent };
        --button-color-disabled: #{ color.scale($c-thunderbird-1, $alpha: -50%) };

        &#{ $self }--basic {
            --button-background: #{ $c-white };
            --button-border: #{ $c-black-transparent};
            --button-color: #{ $c-grey--900 };
            --button-background-hover: #{ color.scale($c-black, $alpha: -94%) };
            --button-border-hover: #{ $c-black-transparent };
            --button-color-hover: #{ $c-grey--900 };
            --button-background-disabled: #{ $c-white };
            --button-border-disabled: #{ $c-black-transparent };
            --button-color-disabled: #{ color.scale($c-grey--900, $alpha: -50%) };
        }
    }

    &--link {
        --button-background: transparent;
        --button-border: transparent;
        --button-color: #{ $c-thunderbird-2 };
        --button-background-hover: transparent;
        --button-border-hover: transparent;
        --button-color-hover: #{ $c-thunderbird-2 };
        --button-background-disabled: transparent;
        --button-border-disabled: transparent;
        --button-color-disabled: #{ color.scale($c-black, $alpha: -60%) };
        --button-padding: 0;

        #{ $self }__text {
            border-bottom: 1px solid transparent;
            line-height: 1.4;
            text-decoration: none;
            transition: border-bottom-color 0.2s ease;
        }

        &:focus-visible,
        &:hover {
            #{ $self }__text {
                border-bottom: 1px solid var(--button-color);
            }
        }

        &:disabled {
            &:focus-visible,
            &:hover {
                #{ $self }__text {
                    border-bottom-color: transparent;
                }
            }
        }

        &#{ $self }--basic {
            --button-color: #{ $c-grey--900 };
            --button-color-hover: #{ $c-grey--900 };
        }
    }
}
