<giz-dialog [title]="title" (closeDialog)="cancel()">
    <p class="scenarios-reset__description" i18n="workers-reset description">
        Are you sure you want to reset all job-categories? <br> This action cannot be undone.</p>
    <ng-container footer-left>
        @if (scenarioResetWorkersMutation.isPending()) {
            <giz-spinner theme="grey">
                <span i18n="workers-reset submitting">Resetting...</span>
            </giz-spinner>
        }
    </ng-container>
    <ng-container footer-right>
        <button type="button" giz-stroke-button theme="basic"
                (click)="cancel()" [disabled]="scenarioResetWorkersMutation.isPending()"
                i18n="cancel">Cancel</button>
        <button type="button" giz-button
                (click)="reset()" [disabled]="scenarioResetWorkersMutation.isPending()"
                i18n="reset">Reset</button>
    </ng-container>
</giz-dialog>
