<giz-auth-content
    [title]="getTitle(currentStep$.value)"
    [description]="getDescription(currentStep$.value)"
    [icon]="currentStep$.value === registerSteps.DONE ? icon.CHECK : undefined"
>
    @if (currentStep$.value === registerSteps.REGISTER) {
        <giz-signup
            [emailTaken]="emailTaken"
            [submitting]="signupSubmitting"
            (submitForm)="signup($event)"
        ></giz-signup>
    }

    @if (currentStep$.value === registerSteps.VERIFICATION_CODE) {
        <giz-verification
            [codeInvalid]="codeInvalid"
            [submitting]="verificationSubmitting"
            (sendNewCode)="sendNewCode()"
            (submitForm)="verify($event)"
        ></giz-verification>
    }

    @if (currentStep$.value === registerSteps.DONE) {
        <a giz-button [routerLink]="(authRoute.LOGIN)" i18n="login continue">Continue to login</a>
    }

    <ng-container auth-footer>
        <giz-stepper
            [steps]="steps"
            [activeStep]="currentStep$.value"
        ></giz-stepper>
    </ng-container>
</giz-auth-content>
