@use 'mixins/typography';
@use 'config' as *;

.examples {
    &__section {
        border-bottom: 2px solid var(--hr-color);
        padding: $p-gutter--large 0;
    }

    &__title {
        font-size: var(--heading-1-hero-font-size);
        margin: 0 0 $p-gutter--large;
        text-align: center;
    }

    &__subtitle {
        font-size: var(--heading-1-font-size);
        margin-top: 1.5rem;

        &:first-of-type {
            margin-top: 0;
        }
    }

    &__hero {
        @include typography.style-heading-1-hero;
    }

    &__dialog-title {
        @include typography.style-heading-dialog;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        margin-bottom: 1rem;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__item {
        flex: 0 0 auto;

        &--card {
            flex: 1;
        }
    }

    &__icon {
        @include typography.style-text-small;

        align-items: center;
        background: $c-grey--200;
        border-radius: $b-radius;
        display: flex;
        flex: 0 0 74px;
        flex-direction: column;
        gap: 0.3rem;
        height: 80px;
        padding: 0.5rem;
        text-align: center;
    }

    &__top {
        bottom: $p-gutter;
        position: fixed;
        right: $p-gutter;
        z-index: 1;
    }

    &__password-strength {
        display: block;
        max-width: 300px;
    }

    .file-upload {
        margin-bottom: 1rem;
    }
}
