<div class="examples">
    <section class="examples__section" id="anchor-menu">
        <h1 class="examples__title">Examples</h1>
        <ul class="examples__list">
            <li class="examples__item">
                <a [routerLink]="(routes.EXAMPLES)" fragment="content"
                   type="button" giz-stroke-button>Content</a>
            </li>
            <li class="examples__item">
                <a [routerLink]="(routes.EXAMPLES)" fragment="icons"
                   type="button" giz-stroke-button>Icons</a>
            </li>
            <li class="examples__item">
                <a [routerLink]="(routes.EXAMPLES)" fragment="buttons"
                   type="button" giz-stroke-button>Buttons</a>
            </li>
            <li class="examples__item">
                <a [routerLink]="(routes.EXAMPLES)" fragment="icon-buttons"
                   type="button" giz-stroke-button>Icon Buttons</a>
            </li>
            <li class="examples__item">
                <a [routerLink]="(routes.EXAMPLES)" fragment="spinner"
                   type="button" giz-stroke-button>Spinner</a>
            </li>
            <li class="examples__item">
                <a [routerLink]="(routes.EXAMPLES)" fragment="toast"
                   type="button" giz-stroke-button>Toasts</a>
            </li>
            <li class="examples__item">
                <a [routerLink]="(routes.EXAMPLES)" fragment="dialog"
                   type="button" giz-stroke-button>Dialog</a>
            </li>
            <li class="examples__item">
                <a [routerLink]="(routes.EXAMPLES)" fragment="tabs"
                   type="button" giz-stroke-button>Tabs</a>
            </li>
            <li class="examples__item">
                <a [routerLink]="(routes.EXAMPLES)" fragment="menu"
                   type="button" giz-stroke-button>Menu</a>
            </li>
        </ul>
    </section>

    <section class="examples__section" id="content">
        <h1 class="examples__hero">Heading Hero</h1>
        <h1>Heading 1</h1>
        <h2>Heading 2</h2>
        <h3>Heading 3</h3>
        <h4>Heading 4</h4>
        <h2 class="examples__dialog-title">Heading Dialog</h2>

        <p>
            Lorem ipsum dolor sit amet, <a href="/">consectetur adipiscing</a> elit, sed do <strong>eiusmod
            tempor</strong> incididunt ut labore et dolore magna aliqua. Sed odio morbi quis commodo. Augue ut lectus
            arcu bibendum at varius vel pharetra. Sapien faucibus et molestie ac feugiat sed lectus. Nullam ac tortor
            vitae purus faucibus. Nec ullamcorper sit amet risus nullam. Pellentesque diam volutpat commodo sed egestas
            egestas fringilla phasellus faucibus. Porttitor lacus luctus accumsan tortor. Sit amet venenatis urna cursus
            eget. Morbi enim nunc faucibus a pellentesque sit amet.
        </p>
        <p>
            Faucibus
            <mark>interdum posuere</mark>
            lorem ipsum dolor sit amet. Ac tincidunt vitae semper quis lectus. Cras sed felis eget velit aliquet
            sagittis. Nisl vel pretium lectus quam id leo in vitae. Eleifend quam adipiscing vitae proin sagittis nisl
            rhoncus. Viverra adipiscing at in tellus integer feugiat. Diam ut venenatis tellus in. Viverra orci sagittis
            eu volutpat odio. Nec dui nunc mattis enim. Vitae auctor eu augue ut lectus. Vitae auctor eu augue ut lectus
            arcu bibendum at. Nibh tortor id aliquet lectus. Ultrices dui sapien eget mi proin. Proin sed libero enim
            sed faucibus turpis in eu. Massa enim nec dui nunc. Maecenas volutpat blandit aliquam etiam erat velit
            scelerisque in.
        </p>

        <hr>

        <ul>
            <li>List item</li>
            <li>List item 2</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Sed odio morbi quis commodo. Augue ut lectus arcu bibendum at varius vel pharetra.
                Sapien faucibus et molestie ac feugiat sed lectus. Nullam ac tortor vitae purus faucibus.
            </li>
            <li>List item nested
                <ul>
                    <li>List item nested</li>
                    <li>List item nested</li>
                </ul>
            </li>
        </ul>

        <ol>
            <li>Ordered list</li>
            <li>Ordered list</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Sed odio morbi quis commodo. Augue ut lectus arcu bibendum at varius vel pharetra.
                Sapien faucibus et molestie ac feugiat sed lectus. Nullam ac tortor vitae purus faucibus.
            </li>
            <li>List item nested
                <ul>
                    <li>List item nested</li>
                    <li>List item nested</li>
                </ul>
            </li>
            <li>List item nested
                <ol>
                    <li>List item nested</li>
                    <li>List item nested</li>
                </ol>
            </li>
        </ol>

        <dl>
            <dt>Definition list</dt>
            <dd>Definition value</dd>
            <dt>Definition list</dt>
            <dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Sed odio morbi quis commodo. Augue ut lectus arcu bibendum at varius vel pharetra.
                Sapien faucibus et molestie ac feugiat sed lectus. Nullam ac tortor vitae purus faucibus.
            </dd>
        </dl>

        <hr>

        <table>
            <thead>
            <tr>
                <th>Thead</th>
                <th>Thead</th>
                <th>Thead</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th>Tbody th</th>
                <td>Table cell</td>
                <td>Table cell</td>
            </tr>
            <tr>
                <th>Tbody th</th>
                <td>Table cell</td>
                <td>Table cell</td>
            </tr>
            <tr>
                <th>Tbody th</th>
                <td>Table cell</td>
                <td>Table cell</td>
            </tr>
            </tbody>
        </table>

        <pre>Text in a pre elementis displayed in a fixed-widthfont, and it preserves both      spaces and
    line breaks</pre>

    </section>

    <section class="examples__section" id="icons">
        <h2 class="examples__title">Icons</h2>
        <ul class="examples__list">
            @for (icon of icons; track icon) {
                <li class="examples__icon">
                    <giz-icon [icon]="icon" [size]="'large'"></giz-icon>
                    <span>{{ icon }}</span>
                </li>
            }
        </ul>
    </section>

    <section class="examples__section" id="buttons">
        <h2 class="examples__title">Button</h2>

        <h2 class="examples__subtitle">Default</h2>
        <ul class="examples__list">
            <li class="examples__item">
                <button type="button" giz-button [theme]="'basic'">Basic</button>
            </li>
            <li class="examples__item">
                <button type="button" giz-button [theme]="'basic'" [disabled]="true">Basic disabled</button>
            </li>
        </ul>
        <ul class="examples__list">
            <li class="examples__item">
                <button type="button" giz-button [theme]="'primary'">Primary</button>
            </li>
            <li class="examples__item">
                <button type="button" giz-button [theme]="'primary'" [disabled]="true">Primary disabled</button>
            </li>
        </ul>

        <h2 class="examples__subtitle">Stroked</h2>
        <ul class="examples__list">
            <li class="examples__item">
                <button type="button" giz-stroke-button [theme]="'basic'">Basic</button>
            </li>
            <li class="examples__item">
                <button type="button" giz-stroke-button [theme]="'basic'" [disabled]="true">Basic disabled</button>
            </li>
        </ul>
        <ul class="examples__list">
            <li class="examples__item">
                <button type="button" giz-stroke-button [theme]="'primary'">Primary</button>
            </li>
            <li class="examples__item">
                <button type="button" giz-stroke-button [theme]="'primary'" [disabled]="true">Primary disabled
                </button>
            </li>
        </ul>

        <h2 class="examples__subtitle">Link</h2>
        <ul class="examples__list">
            <li class="examples__item">
                <button type="button" giz-link-button [theme]="'basic'">Basic</button>
            </li>
            <li class="examples__item">
                <button type="button" giz-link-button [theme]="'basic'" [disabled]="true">Basic disabled</button>
            </li>
        </ul>
        <ul class="examples__list">
            <li class="examples__item">
                <button type="button" giz-link-button [theme]="'primary'">Primary</button>
            </li>
            <li class="examples__item">
                <button type="button" giz-link-button [theme]="'primary'" [disabled]="true">Primary disabled
                </button>
            </li>
        </ul>

        <h2 class="examples__subtitle">With icon</h2>
        <ul class="examples__list">
            <li class="examples__item">
                <button type="button" giz-button [theme]="'basic'" [icon]="icon.OPEN_IN_NEW">Basic</button>
            </li>
            <li class="examples__item">
                <button type="button" giz-button [theme]="'basic'"
                        [icon]="icon.OPEN_IN_NEW" [iconPosition]="'right'">Basic
                </button>
            </li>
        </ul>
        <ul class="examples__list">
            <li class="examples__item">
                <button type="button" giz-button [theme]="'primary'" [icon]="icon.OPEN_IN_NEW">Primary</button>
            </li>
            <li class="examples__item">
                <button type="button" giz-button [theme]="'primary'"
                        [icon]="icon.OPEN_IN_NEW" [iconPosition]="'right'">Primary
                </button>
            </li>
        </ul>
    </section>

    <section class="examples__section" id="icon-buttons">
        <h2 class="examples__title">Icon Button</h2>

        <h2 class="examples__subtitle">Default</h2>
        <ul class="examples__list">
            <li class="examples__item">
                <button type="button" giz-icon-button [icon]="icon.MORE_VERT"
                        [theme]="'basic'">Basic
                </button>
            </li>
            <li class="examples__item">
                <button type="button" giz-icon-button [icon]="icon.MORE_VERT"
                        [theme]="'basic'" [disabled]="true">Basic disabled
                </button>
            </li>
        </ul>
        <ul class="examples__list">
            <li class="examples__item">
                <button type="button" giz-icon-button [icon]="icon.MORE_VERT"
                        [theme]="'primary'">Primary
                </button>
            </li>
            <li class="examples__item">
                <button type="button" giz-icon-button [icon]="icon.MORE_VERT"
                        [theme]="'primary'" [disabled]="true">Primary disabled
                </button>
            </li>
        </ul>

        <h2 class="examples__subtitle">Stroked</h2>

        <ul class="examples__list">
            <li class="examples__item">
                <button type="button" giz-icon-button [icon]="icon.MORE_VERT"
                        [buttonType]="'stroke'" [theme]="'basic'">Basic
                </button>
            </li>
            <li class="examples__item">
                <button type="button" giz-icon-button [icon]="icon.MORE_VERT"
                        [buttonType]="'stroke'" [theme]="'basic'" [disabled]="true">Basic disabled
                </button>
            </li>
        </ul>
        <ul class="examples__list">
            <li class="examples__item">
                <button type="button" giz-icon-button [icon]="icon.MORE_VERT"
                        [buttonType]="'stroke'" [theme]="'primary'">Primary
                </button>
            </li>
            <li class="examples__item">
                <button type="button" giz-icon-button [icon]="icon.MORE_VERT"
                        [buttonType]="'stroke'" [theme]="'primary'" [disabled]="true">Primary disabled
                </button>
            </li>
        </ul>

        <h2 class="examples__subtitle">Small</h2>

        <ul class="examples__list">
            <li class="examples__item">
                <button type="button" giz-icon-button [icon]="icon.MORE_VERT"
                        [size]="'small'" [theme]="'basic'">Basic
                </button>
            </li>
            <li class="examples__item">
                <button type="button" giz-icon-button [icon]="icon.MORE_VERT"
                        [size]="'small'" [theme]="'basic'" [disabled]="true">Basic disabled
                </button>
            </li>
        </ul>
        <ul class="examples__list">
            <li class="examples__item">
                <button type="button" giz-icon-button [icon]="icon.MORE_VERT"
                        [size]="'small'" [theme]="'primary'">Primary
                </button>
            </li>
            <li class="examples__item">
                <button type="button" giz-icon-button [icon]="icon.MORE_VERT"
                        [size]="'small'" [theme]="'primary'" [disabled]="true">Primary disabled
                </button>
            </li>
        </ul>
    </section>

    <section class="examples__section" id="spinner">
        <h2 class="examples__title">Spinner</h2>

        <ul class="examples__list">
            <li class="examples__item">
                <giz-spinner></giz-spinner>
            </li>
            <li class="examples__item">
                <giz-spinner [theme]="'grey'"></giz-spinner>
            </li>
            <li class="examples__item">
                <giz-spinner [theme]="'darkgrey'"></giz-spinner>
            </li>
        </ul>
        <ul class="examples__list">
            <li class="examples__item">
                <giz-spinner [size]="'large'"></giz-spinner>
            </li>
            <li class="examples__item">
                <giz-spinner [size]="'large'" [theme]="'grey'"></giz-spinner>
            </li>
            <li class="examples__item">
                <giz-spinner [size]="'large'" [theme]="'darkgrey'"></giz-spinner>
            </li>
        </ul>
    </section>

    <section class="examples__section" id="toast">
        <h2 class="examples__title">Toasters</h2>
        <p>Note: Shows 4 max</p>
        <p>Docs: <a href="https://github.com/scttcper/ngx-toastr"
                    target="_blank">https://github.com/scttcper/ngx-toastr</a></p>

        <ul class="examples__list">
            <li class="examples__item">
                <button giz-button (click)="showToaster('info')">Info toaster</button>
            <li>
            <li class="examples__item">
                <button giz-button (click)="showToaster('success')">Success toaster</button>
            <li>
            <li class="examples__item">
                <button giz-button (click)="showToaster('warning')">Warning toaster</button>
            <li>
            <li class="examples__item">
                <button giz-button (click)="showToaster('error')">Error toaster</button>
            <li>
        </ul>
        <ul class="examples__list">
            <li class="examples__item">
                <button giz-button (click)="showToaster('warning-filled')">Warning toaster (filled)</button>
            <li>
            <li class="examples__item">
                <button giz-button (click)="showToaster('critical')">Critical toaster (filled)</button>
            <li>
        </ul>

        <p>If you want a toaster to not automatically close you can set <code>disableTimeOut: true</code> in the
            Individual Options.
            You can save the return value (id) of the toastr and close it using <code>toastrService.clear(toastId?:
                number);</code>.</p>

        <ul class="examples__list">
            <li class="examples__item">
                <button giz-button (click)="showNonCloseableToaster()">Open non-closeable toaster</button>
            <li>
            <li class="examples__item">
                <button giz-button (click)="closeToaster()">Close the toaster</button>
            <li>
        </ul>
    </section>

    <section class="examples__section" id="dialog">
        <h2 class="examples__title">Dialog</h2>

        <p>We use the Angular CDK Dialog in combination with our own Dialog Component which handles the html & styling
            of the dialog itself.<br>
            You can open a Dialog from a component or a template. In this example page we use a template.<br>
            For more information on the Dialog Options go to the Docs: <a
                href="https://material.angular.io/cdk/dialog/api" target="_blank">https://material.angular.io/cdk/dialog/api</a>
        </p>
        <p>The Dialog component has a couple of options:</p>
        <dl>
            <dt>Title</dt>
            <dd>Title of the dialog (required)</dd>
            <dt>Size</dt>
            <dd>Normal (default), small or large</dd>
            <dt>Content (ng-content)</dt>
            <dd>The main content of the dialog</dd>
            <dt>Footer content - Left (footer-left)</dt>
            <dd>Buttons/loader/etc</dd>
            <dt>Footer content - Right (footer-right)</dt>
            <dd>Buttons/loader/etc</dd>
        </dl>
        <button giz-button (click)="openDialog()">Open Dialog</button>
    </section>

    <section class="examples__section" id="tabs">
        <h2 class="examples__title">Tabs</h2>
        <giz-tab-group>
            <a giz-tab
               [routerLink]=""
               [routerLinkActive]="['is-active']"
               [routerLinkActiveOptions]="{ exact: true }"
            >Tab 1</a>
            <a giz-tab
               [routerLink]="[routes.EXAMPLES]"
               [routerLinkActive]="['is-active']"
            >Tab active</a>
            <a giz-tab
               [disabled]="true"
               [routerLink]="[routes.HOME]"
               [routerLinkActive]="['is-active']"
            >Tab disabled</a>
        </giz-tab-group>
    </section>

    <section class="examples__section" id="menu">
        <h2 class="examples__title">Menu</h2>
        <button type="button" giz-button [cdkMenuTriggerFor]="menu"
        >Menu</button>

        <ng-template #menu>
            <giz-menu>
                <a giz-menu-item [routerLink]="[routes.EXAMPLES]" [active]="true">Item active</a>
                <a giz-menu-item [routerLink]="[routes.EXAMPLES]">Item</a>
                <a giz-menu-item [routerLink]="[routes.EXAMPLES]">Item</a>
            </giz-menu>
        </ng-template>
    </section>

    <a [routerLink]="(routes.DASHBOARD)" fragment="anchor-menu"
       giz-icon-button buttonType="stroke" [icon]="icon.ARROW_UP"
       class="examples__top">Go to top</a>
</div>

<ng-template #dialogTemplateRef>
    <giz-dialog [title]="'Test Dialog'" (closeDialog)="closeDialog()">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum.

        <ng-container footer-left>
            <a giz-stroke-button [routerLink]="(routes.DASHBOARD)">Button left</a>
        </ng-container>

        <ng-container footer-right>
            <button type="button" giz-stroke-button (click)="closeDialog()">Cancel</button>
            <button type="button" giz-button [routerLink]="(routes.DASHBOARD)">Save</button>
        </ng-container>
    </giz-dialog>
</ng-template>
