@import '../mixins/sr-only';
@import '../mixins/form';
@import '../mixins/typography';

.form {
    $self: &;

    position: relative;
    width: 100%;

    &__container {
        background: var(--form-bcg);
        border: 1px solid var(--form-border);
        border-radius: $b-radius;
        padding: $p-gutter;

        & + #{ $self }__container {
            margin-top: $p-gutter;
        }
    }

    &__header {
        margin-bottom: $p-gutter--large;
    }

    &__title {
        @include style-heading-2;

        margin: 0 0 $p-gutter--small;
    }

    &__subfields {
        margin-bottom: $p-gutter;
        padding-left: 45px;
        position: relative;

        &::before {
            border: 2px solid var(--form-input-border);
            border-radius: $b-radius 0 0 $b-radius;
            border-right: 0;
            content: '';
            display: block;
            height: 100%;
            left: $p-gutter;
            position: absolute;
            top: 0;
            width: 15px;
        }

        &::after {
            border: solid var(--form-input-border);
            border-radius: 0 0 0 $b-radius;
            border-width: 0 0 2px 2px;
            content: '';
            display: block;
            height: 44px;
            left: $p-gutter - 15px;
            position: absolute;
            top: -22px;
            width: 15px;
        }

        #{ $self }__field {
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__field {
        display: block;
        margin-bottom: $p-gutter;
        position: relative;

        &.is-error {
            --form-input-border: #{ $c-error--dark };

            #{ $self }__input #{ $self }__label {
                --form-label-color: #{ $c-error--dark };
            }
        }

        &.has-value {
            #{ $self }__input #{ $self }__label {
                transform: scale(0.8) translateY(-100%);
            }
        }
    }

    &__definition {
        display: flex;
        flex-direction: column;
        gap: $p-gutter--small;
        margin-bottom: $p-gutter--small;
        padding: $p-gutter--small $p-gutter--small $p-gutter--small 0;

        &:last-child {
            margin-bottom: 0;
        }

        #{ $self }__label {
            margin: 0;
        }
    }

    &__label {
        display: block;

        .is-required & {
            &::after {
                color: currentColor;
                content: '*';
                display: inline-block;
                font-size: 0.75rem;
                text-align: right;
                width: 10px;
            }
        }

        &.is-hidden {
            @include sr-only;
        }

        #{ $self }__hint {
            margin: 0;
        }
    }

    &__sublabel {
        @include style-text-small;

        color: var(--form-sublabel-color);
        margin: 0;
    }

    &__error {
        @include style-text-small;

        color: var(--form-error);
        margin: 4px 0 0;

        #{ $self }__field & {
            padding-left: var(--form-input-padding-horizontal);
        }
    }

    &__hint {
        @include style-text-small;

        color: var(--form-input-hint-color);
        margin: 4px 0 0;
    }

    &__text {
        margin: 0;
    }

    &__intro,
    &__subtext {
        color: var(--form-intro-color);
    }

    &__input,
    &__select {
        position: relative;
        width: 100%;

        input:has(+ #{ $self }__postfix) {
            padding-right: calc(var(--form-input-padding-horizontal) + 1.5rem);
        }

        &:has(#{ $self }__label) {
            input {
                padding-top: 1.5rem;
            }
        }

        #{ $self }__label {
            --form-label-color: #{ $c-grey--600 };

            padding: 0 var(--form-input-padding-horizontal);
            position: absolute;
            top: 20px;
            transform-origin: left center;
            transition: color 0.2s, transform 0.2s;
        }
    }

    &__select {
        @include form-select;
    }

    &__checkbox {
        @include form-checkbox;
    }

    &__radio {
        @include form-radio;
    }

    &__postfix {
        position: absolute;
        right: $p-gutter--small;
        top: 50%;
        translate: 0 -50%;
    }

    &__footer {
        align-content: center;
        display: flex;
        gap: 1rem;
        justify-content: space-between;
        margin-top: 2rem;

        &--right {
            justify-content: flex-end;
        }
    }

    &__column {
        align-content: center;
        display: flex;
        gap: 1rem;
    }

    &__spinner {
        align-items: center;
        color: var(--form-spinner);
        display: flex;
        font-style: italic;
        gap: 0.5rem;
    }

    @include screen($screen-minimal) {
        &__definition {
            align-items: center;
            flex-direction: row;
            gap: $p-gutter;
            justify-content: space-between;

            &--left {
                justify-content: flex-start;
            }

            #{ $self }__label {
                width: 200px;
            }
        }

        &__group {
            display: flex;
            gap: $p-gutter--small;

            #{ $self }__field {
                flex: 1 1 auto;
                flex-basis: 50%;
            }

            &--unit {
                #{ $self }__field {
                    flex-basis: 60%;

                    &:nth-child(2) {
                        flex-basis: 40%;
                    }
                }
            }
        }

        &--horizontal {
            #{ $self }__field,
            #{ $self }__fieldset {
                align-items: start;
                display: grid;
                gap: 0 $p-gutter;
                grid-template-columns: var(--form-horizontal-label-width) 1fr;

                > * {
                    grid-column-start: 2;
                }
            }

            #{ $self }__group {
                #{ $self }__field {
                    display: block;
                }
            }

            #{ $self }__label {
                grid-column-start: 1;
                padding-top: 12px;

                &--multiline {
                    padding-top: 2px;
                }
            }
        }
    }

    @include screen($screen-simple) {
        &__subfields {
            column-gap: $p-gutter;
            columns: 2;

            --form-horizontal-label-width: 50%;
        }
    }
}
