<div class="todo">Styling as designed</div>
<button giz-stroke-button (click)="createEntry()">Create</button>
@if (entries.data() && entries.data()?._embedded?.entries?.length) {
    <table>
        <thead>
            <tr>
                <th>Facility Name</th>
                <th>Payroll year</th>
                <th>Country</th>
                <th>Editted on</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @for (entry of entries.data()?._embedded?.entries; track entry) {
                <tr>
                    <td><a giz-link-button [routerLink]="[moduleRoute.ENTRIES, entry.id]">{{ entry.facility.name }}</a></td>
                    <td>{{ entry.year }}</td>
                    <td>{{ entry.facility.countryCode }}</td>
                    <td>{{ entry.updatedAt }}</td>
                    <td><giz-status [status]="entry.status | status"></giz-status></td>
                    <td><button giz-stroke-button (click)="deleteEntry(entry)">Delete</button></td>
                </tr>
            }
        </tbody>
    </table>
} @else {
    <p i18n="entries not-found">No entries found</p>
}
