<div class="overview">
    <div class="overview__header">
        <button giz-stroke-button (click)="createEntry()" i18n="entry create">Create entry</button>
        <button giz-icon-button [icon]="icon.SORT" theme="basic"
                [disabled]="!entries || entries.isLoading()" i18n="sort"
                [cdkMenuTriggerFor]="sortMenu"
                [cdkMenuPosition]="actionsMenuPosition"
        >Sort
        </button>
        <ng-template #sortMenu>
            <giz-menu>
                <button giz-menu-item
                        (click)="sort(entrySortKeys.UPDATED_AT, sortValue.DESC)"
                        [active]="!!(isActiveSort(entrySortKeys.UPDATED_AT) | async)"
                        i18n="entries sort editted-on"
                >Edited on
                </button>
                <button giz-menu-item
                        (click)="sort(entrySortKeys.FACILITY_NAME, sortValue.ASC)"
                        [active]="!!(isActiveSort(entrySortKeys.FACILITY_NAME) | async)"
                        i18n="entries sort facility-name"
                >Facility
                </button>
                <button giz-menu-item
                        (click)="sort(entrySortKeys.YEAR, sortValue.DESC)"
                        [active]="!!(isActiveSort(entrySortKeys.YEAR) | async)"
                        i18n="entries sort year"
                >Year
                </button>
            </giz-menu>
        </ng-template>
    </div>

    @if (!entries || entries.isLoading()) {
        <giz-spinner class="overview__spinner" [size]="'large'"></giz-spinner>
    } @else if (entries.isError()) {
        <div class="overview__no-results">
            <p i18n="entries error">Error getting entries.</p>
            @for (error of entries.error().error | keyvalue; track error) {
                <p>{{ error.value }}</p>
            }
        </div>
    } @else {
        @if (entries.data() && entries.data()?._embedded?.entries?.length) {
            <giz-table
                [caption]="getTableCaption(entries.data()?.paging?.totalEntities)"
                [hideCaption]="true"
                type="overview"
            >
                <ng-container thead>
                    <tr giz-table-header-row>
                        <th giz-table-header-cell size="wide" i18n="entry facility label">Facility</th>
                        <th giz-table-header-cell alignment="center" i18n="entry payroll-year label">Payroll year</th>
                        <th giz-table-header-cell alignment="center" i18n="entry country label">Country</th>
                        <th giz-table-header-cell alignment="center" i18n="entry edited-on label">Edited on</th>
                        <th giz-table-header-cell alignment="center" i18n="entry status label">Status</th>
                        <th giz-table-header-cell alignment="center" type="actions">
                            <span i18n="entry action">Actions</span>
                        </th>
                    </tr>
                </ng-container>
                <ng-container>
                    @for (entry of entries.data()?._embedded?.entries; track entry) {
                        <tr giz-table-row [isClickable]="true" [routerLink]="[moduleRoute.ENTRIES, entry.id]">
                            <td giz-table-cell size="wide" type="link">
                                <a class="overview__link" [routerLink]="[moduleRoute.ENTRIES, entry.id]">{{ entry.facility.name }}</a>
                            </td>
                            <td giz-table-cell alignment="center">
                                {{ entry.year | empty }}
                            </td>
                            <td giz-table-cell alignment="center">
                                {{ entry.facility.country | empty }}
                            </td>
                            <td giz-table-cell alignment="center">
                                <span gizTooltip [text]="entry.updatedAt">{{ entry.updatedAt | date | empty }}</span>
                            </td>
                            <td giz-table-cell alignment="center">
                                <giz-status [status]="entry.status | entryStatus" gizTooltip [text]="entry.status | entryStatusText"></giz-status>
                            </td>
                            <td giz-table-cell alignment="center" type="actions">
                                <button type="button" giz-icon-button
                                        theme="basic" [icon]="icon.MORE_VERT"
                                        i18n="entry actions-menu"
                                        (click)="onClickActions($event)"
                                        [cdkMenuTriggerFor]="entryActions"
                                        [cdkMenuPosition]="actionsMenuPosition"
                                >Show actions
                                </button>
                                <ng-template #entryActions>
                                    <giz-menu>
                                        <button giz-menu-item i18n="entry delete"
                                                [icon]="icon.DELETE" (click)="deleteEntry(entry)">Delete
                                        </button>
                                    </giz-menu>
                                </ng-template>
                            </td>
                        </tr>
                    }
                </ng-container>
            </giz-table>
            <giz-paginator
                [page]="(entries.data()?.paging?.index ?? 0) + 1"
                [pageSize]="entries.data()?.paging?.size ?? 25"
                [total]="entries.data()?.paging?.totalPages ?? 0"
                [totalEntries]="entries.data()?.paging?.totalEntities ?? 0"
                [showFirstLast]="false"
                (paging)="onPageEvent($event)"
            ></giz-paginator>
        } @else {
            <div class="overview__no-results">
                <p i18n="entries not-found">No entries found.</p>
            </div>
        }
    }
</div>
