
<table>
    <thead>
        <tr>
            <th>Facility Name</th>
            <th>Payroll year</th>
            <th>Country</th>
            <th>Editted on</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a giz-link-button [routerLink]="[(moduleRoute.ENTRY | route), 'bd101a34-0438-4065-b84c-a4efc7258204' ]">Test Entry</a></td>
            <td>2023</td>
            <td>Brazil</td>
            <td>Nov. 29 2023</td>
            <td>unknown</td>
        </tr>
        <tr>
    </tr>
    </tbody>
</table>
