@import 'config/colors';
@import 'config/sizes';
@import 'mixins/sr-only';

:root {
    --overview-link-color-hover: #{ $c-giz-red };
}

.overview {
    &__header {
        align-items: center;
        display: flex;
        gap: $p-gutter--small;
        justify-content: flex-end;
        margin-bottom: 1.5rem;
        padding: $p-gutter--small $p-gutter;
    }

    &__link {
        text-decoration: none;
    }
}
