@import 'config/colors';
@import 'config/shadows';
@import 'config/sizes';
@import 'mixins/typography';

:root {
    --tooltip-advanced-background: #{ $c-white };
}

.tooltip-advanced {
    background-color: var(--tooltip-advanced-background);
    border-radius: $b-radius;
    box-shadow: $c-shadow-6;
    padding: $p-gutter calc(var(--button-height) + #{ $p-gutter }) $p-gutter $p-gutter;
    position: relative;
    width: 310px;

    &__buttons {
        display: flex;
    }

    &__close {
        position: absolute;
        right: $p-gutter--small;
        top: 14px;
    }

    &__content {
        & > :last-child {
            margin-bottom: 0;
        }
    }

    @include screen($screen-minimal) {
        &--medium {
            width: 350px;
        }
    }
}
