<form class="form" autocomplete="off" [formGroup]="form" (ngSubmit)="submit()">
    <div class="form__field" [ngClass]="{
        'is-error': form | hasError: 'email',
        'has-value': form | hasValue: 'email',
    }">
        <div class="form__input">
            <label class="form__label" for="email" i18n="form email label">Email</label>
            <input type="email" id="email" formControlName="email"/>
        </div>
        @if (form | showError: 'email' :'required') {
            <div class="form__error" i18n="form email errors required">Email is required</div>
        }
        @if (form | showError: 'email' :'email') {
            <div class="form__error" i18n="form email errors invalid">Email is invalid</div>
        }
    </div>

    @if (submitting) {
        <div class="form__spinner">
            <giz-spinner [theme]="'grey'"></giz-spinner>
            <span i18n="form state sending-reset">Sending reset instructions...</span>
        </div>
    }

    <div class="form__footer">
        <div class="form__buttons">
            <a giz-link-button [routerLink]="[moduleRoute.AUTH, authRoute.LOGIN]" i18n="login back">Back to login</a>
        </div>
        <div class="form__buttons">
            <button type="submit" giz-button i18n="continue">Continue</button>
        </div>
    </div>
</form>
