@use 'sass:color';
@use 'mixins/button';
@use 'mixins/sr-only';
@use "config" as *;

:root {
    --icon-button-background: transparent;
    --icon-button-border: transparent;
    --icon-button-color: #{ $c-thunderbird-1 };
    --icon-button-background-hover: #{ $c-thunderbird-5 };
    --icon-button-border-hover: #{ $c-thunderbird-5 };
    --icon-button-color-hover: #{ $c-thunderbird-1 };
    --icon-button-background-disabled: transparent;
    --icon-button-border-disabled: transparent;
    --icon-button-color-disabled: #{ $c-grey--400 };
}

.icon-button {
    $self: &;

    @include button.base;
    @include button.style(
        var(--icon-button-background),
        var(--icon-button-border),
        var(--icon-button-color),
        var(--icon-button-background-hover),
        var(--icon-button-border-hover),
        var(--icon-button-color-hover),
        var(--icon-button-background-disabled),
        var(--icon-button-border-disabled),
        var(--icon-button-color-disabled),
    );

    border-radius: 50%;
    padding: 0;
    width: var(--button-height);

    &__text {
        @include sr-only.apply;
    }

    &--basic {
        --icon-button-color: #{ $c-grey--900 };
        --icon-button-background-hover: #{ color.scale($c-black, $alpha: -94%) };
        --icon-button-border-hover: #{ color.scale($c-black, $alpha: -94%) };
        --icon-button-color-hover: #{ $c-grey--900 };
        --icon-button-background-disabled: transparent;
        --icon-button-border-disabled: transparent;
    }

    &--stroke {
        border-radius: $b-radius;

        --icon-button-background: #{ $c-white };
        --icon-button-border: #{ $c-black-transparent};
        --icon-button-border-hover: #{ $c-black-transparent};
        --icon-button-border-disabled: #{ $c-black-transparent};
    }

    &--small {
        --button-height: 24px;
    }
}
