@use 'config' as *;
@use 'mixins/sr-only';
@use 'mixins/stretch';
@use 'mixins/typography';

:root {
    --entry-card-background: #{ $c-white };
    --entry-card-info-color: #{ $c-grey--600 };
    --entry-card-icon-color: #{ $c-grey--600 };
    --entry-card-border-color: #{ $c-grey--300 };
    --entry-card-width: 100%;
}

.entry-card {
    background: var(--entry-card-background);
    border: 1px solid var(--entry-card-border-color);
    border-radius: $b-radius;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    padding: $p-gutter;
    position: relative;
    transition: box-shadow 0.2s;
    width: var(--entry-card-width);

    &__title {
        @include typography.style-heading-3;

        align-items: flex-end;
        display: flex;
        gap: $p-gutter--small;
        margin: 0 0 0.4rem;

        &--main {
            @include typography.style-heading-2;
        }
    }

    &__info {
        color: var(--entry-card-info-color);
        margin: 0;
    }

    &__icon {
        color: var(--entry-card-icon-color);
    }

    &__link {
        @include stretch.apply;

        span {
            @include sr-only.apply;
        }
    }

    &--main {
        background: transparent;
        border: none;
        padding: 1rem 0;
    }

    &__icons {
        align-items: center;
        display: flex;
        gap: $p-gutter--small;
        padding-top: 2px;
    }

    &--link {
        &:hover,
        &:focus {
            box-shadow: $c-shadow-6;
        }
    }
}
