@import 'config/colors';
@import 'config/shadows';
@import 'mixins/sr-only';
@import 'mixins/stretch';
@import 'mixins/typography';

:root {
    --entry-card-background: #{ $c-white };
    --entry-card-info-color: #{ $c-grey--600 };
    --entry-card-icon-color: #{ $c-grey--600 };
    --entry-card-border-color: #{ $c-grey--300 };
}

.entry-card {
    border-radius: $b-radius;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    min-width: 200px;
    padding: $p-gutter;
    position: relative;

    &__title {
        @include style-heading-3;

        align-items: center;
        display: flex;
        gap: 0.25rem;
        margin: 0 0 0.4rem;

        &--main {
            @include style-heading-2;
        }
    }

    &__info {
        color: var(--entry-card-info-color);
        margin: 0;
    }

    &__icon {
        color: var(--entry-card-icon-color);
        padding-top: 2px;
    }

    &__link {
        @include stretch;

        span {
            @include sr-only;
        }
    }

    &--link {
        background: var(--entry-card-background);
        border: 1px solid var(--entry-card-border-color);
        min-width: 0;
        transition: box-shadow 0.2s;
        width: min(100%, 300px);

        &:hover,
        &:focus {
            box-shadow: $c-shadow-6;
        }
    }
}
