<div class="entry">
    <div class="entry__header">
        <div class="entry__info">
            @if (loading$ | async) {
                <giz-spinner></giz-spinner>
            } @else if (entry) {
                <giz-entry-card [entry]="entry" [isMain]="true" [showStatus]="false"></giz-entry-card>
            } @else {
                Entry not found
            }
        </div>

        <div class="entry__tabs">
            <giz-tab-group>
                <a giz-tab
                   [routerLink]="[moduleRoute.ENTRIES, (id$ | async)]"
                   [routerLinkActive]="['is-active']"
                   [routerLinkActiveOptions]="{ exact: true }"
                   i18n="entry tab information"
                >Information</a>
                <a giz-tab
                   [routerLink]="[moduleRoute.ENTRIES, (id$ | async), routes.SCENARIO]"
                   [routerLinkActive]="['is-active']"
                   i18n="entry tab scenarios"
                >Scenarios</a>
                <a giz-tab
                   [disabled]="tabDisabled(routes.DISTRIBUTION)"
                   [routerLink]="[moduleRoute.ENTRIES, (id$ | async), routes.DISTRIBUTION]"
                   [routerLinkActive]="['is-active']"
                   i18n="entry tab distribution"
                >Distribution</a>
                <a giz-tab
                   [disabled]="tabDisabled(routes.BUYER)"
                   [routerLink]="[moduleRoute.ENTRIES, (id$ | async), routes.BUYER]"
                   [routerLinkActive]="['is-active']"
                   i18n="entry tab buyer"
                >Buyer</a>
                <a giz-tab
                   [disabled]="tabDisabled(routes.REPORT)"
                   [routerLink]="[moduleRoute.ENTRIES, (id$ | async), routes.REPORT]"
                   [routerLinkActive]="['is-active']"
                   i18n="entry tab report"
                >Report</a>
            </giz-tab-group>
        </div>
    </div>
    <div class="entry__content">
        <router-outlet></router-outlet>
    </div>
</div>


