@import 'config/colors';
@import 'config/sizes';
@import 'mixins/screen';
@import 'mixins/typography';

:root {
    --entry-detail-border-color: #{ $c-grey--300 };
}

.entry {
    &__header {
        border-bottom: 1px solid var(--entry-detail-border-color);
        margin-bottom: $p-gutter * 2;
    }

    &__tabs {
        margin-right: -$p-gutter;
    }

    @include screen($screen-simple) {
        &__header {
            align-items: flex-end;
            display: flex;
            justify-content: space-between;
        }

        &__tabs {
            margin-right: 0;
        }
    }
}
