@import 'config/colors';
@import 'config/sizes';

:root {
    --entry-subtitle-color: #{ $c-grey--900 };
    --entry-link-color: #{ $c-grey--900 };
    --entry-link-active-color: #{ $c-success };
}

.entry {
    &__header {
        align-items: flex-end;
        display: flex;
        justify-content: space-between;
    }

    &__facility {
        padding: $p-gutter $p-gutter 1rem;
    }

    &__title {
        font-size: 1.25rem;
        margin: 0;
    }

    &__subtitle {
        color: var(--entry-subtitle-color);
        margin: 0;
    }

    // TODO: Replace by tabs component
    &__links {
        display: flex;
        gap: 0.75rem;

        button {
            border-radius: 0;
            color: var(--entry-link-color);
            padding: 1.25rem 0.75rem;

            &.active {
                border-bottom: 3px solid var(--entry-link-active-color);
            }
        }
    }
}
