<div class="password-strength"
     [ngClass]="{
        'is-very-weak': passwordScore === rank.TOO_SHORT,
        'is-weak': passwordScore === rank.WEAK,
        'is-medium': passwordScore === rank.MEDIUM,
        'is-strong': passwordScore === rank.STRONG,
        'is-very-strong': passwordScore === rank.VERY_STRONG,
    }"
>
    <ul class="password-strength__bars">
        <li class="password-strength__bar"></li>
        <li class="password-strength__bar"></li>
        <li class="password-strength__bar"></li>
        <li class="password-strength__bar"></li>
    </ul>

    <div class="password-strength__hint">
        @if (passwordScore === rank.TOO_SHORT) {
            <span i18n="password-strength very-weak">Very weak</span>
        } @else if (passwordScore === rank.WEAK ) {
            <span i18n="password-strength weak">Weak</span>
        } @else if (passwordScore === rank.MEDIUM ) {
            <span i18n="password-strength medium">Medium</span>
        } @else if (passwordScore === rank.STRONG ) {
            <span i18n="password-strength good">Good</span>
        } @else if (passwordScore === rank.VERY_STRONG ) {
            <span i18n="password-strength great">Great!</span>
        }
    </div>
</div>
