<div class="password-strength"
     [ngClass]="{
        'is-very-weak': passwordScore === rank.TOO_SHORT,
        'is-weak': passwordScore === rank.WEAK,
        'is-medium': passwordScore === rank.MEDIUM,
        'is-strong': passwordScore === rank.STRONG,
        'is-very-strong': passwordScore === rank.VERY_STRONG,
    }"
>
    <ul class="password-strength__bars">
        <li class="password-strength__bar"></li>
        <li class="password-strength__bar"></li>
        <li class="password-strength__bar"></li>
        <li class="password-strength__bar"></li>
    </ul>

    <div class="password-strength__hint">
        {{ ('form.password.strength.score-' + passwordScore) | translate }}
    </div>
</div>
