@import './config/colors';
@import './mixins/typography';

:root {
    --password-strength-bar-1: #{ $c-grey--300 };
    --password-strength-bar-2: #{ $c-grey--300 };
    --password-strength-bar-3: #{ $c-grey--300 };
    --password-strength-bar-4: #{ $c-grey--300 };
    --password-hint-color: #{ $c-password-weak };
}

:host {
    display: block;
}

.password-strength {
    display: block;
    padding: 1rem 0;

    &__bars {
        display: flex;
        gap: 5px;
        justify-content: space-between;
        margin: 0 0 0.5rem;
    }

    &__bar {
        background: var(--password-strength-bar-1);
        flex: 1 1 25%;
        height: 5px;

        &:nth-child(2) {
            background: var(--password-strength-bar-2);
        }

        &:nth-child(3) {
            background: var(--password-strength-bar-3);
        }

        &:nth-child(4) {
            background: var(--password-strength-bar-4);
        }
    }

    &__hint {
        @include style-text-small;

        color: var(--password-hint-color);
        text-align: right;
    }

    &.is-weak {
        --password-strength-bar-1: #{ $c-password-weak };
        --password-hint-color: #{ $c-password-weak };
    }

    &.is-medium {
        --password-strength-bar-1: #{ $c-password-medium };
        --password-strength-bar-2: #{ $c-password-medium };
        --password-hint-color: #{ $c-password-medium };
    }

    &.is-strong {
        --password-strength-bar-1: #{ $c-password-strong };
        --password-strength-bar-2: #{ $c-password-strong };
        --password-strength-bar-3: #{ $c-password-strong };
        --password-hint-color: #{ $c-password-strong };
    }

    &.is-very-strong {
        --password-strength-bar-1: #{ $c-password-very-strong };
        --password-strength-bar-2: #{ $c-password-very-strong };
        --password-strength-bar-3: #{ $c-password-very-strong };
        --password-strength-bar-4: #{ $c-password-very-strong };
        --password-hint-color: #{ $c-password-very-strong };
    }
}
