@mixin apply {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    width: 1px;
}

@mixin remove {
    clip: initial;
    height: initial;
    overflow: initial;
    position: initial;
    width: initial;
}
