@import 'config/sizes';
@import 'mixins/screen';

@mixin table-info {
    --table-cell-padding: 0.5rem #{ $p-gutter--small };

    line-height: 1.7;
    margin-bottom: 1.5rem;

    td, th {
        word-break: keep-all;
    }

    tbody {
        td {
            text-align: right;
        }
    }
}
