<giz-content-page>
    <h1 i18n="homepage title">Welcome to the Costing Tool</h1>

    <div class="todo">Content & styling & logo's</div>

    <div class="home__buttons">
        @if (loggedIn) {
            <a giz-stroke-button [routerLink]="[routRoute.DASHBOARD]" i18n="homepage login">Login</a>
        } @else {
            <a giz-stroke-button [routerLink]="[moduleRoute.AUTH, authRoute.LOGIN]" i18n="homepage login">Login</a>
        }
        <a giz-stroke-button [routerLink]="[moduleRoute.AUTH, authRoute.REGISTER]" i18n="homepage create">Create account</a>
    </div>
</giz-content-page>
