// Roboto
@font-face {
    font-display: swap;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    src:
        local('Roboto'),
        url('/assets/fonts/roboto/roboto-400.woff2') format('woff2'),
        url('/assets/fonts/roboto/roboto-400.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    src:
        local('Roboto'),
        url('/assets/fonts/roboto/roboto-700.woff2') format('woff2'),
        url('/assets/fonts/roboto/roboto-700.woff') format('woff');
}
