@use 'sass:color';
@use '../config' as *;

:root {
    // Headings & Paragraphs
    --heading-1-hero-font-size: 2.25rem;
    --heading-1-font-size: 1.5rem;
    --heading-2-font-size: 1.25rem;
    --heading-3-font-size: 1rem;
    --heading-4-font-size: 0.875rem;
    --heading-dialog-font-size: 1.5rem;
    --text-font-size: 0.875rem;
    --text-font-size-large: 1rem;
    --text-font-size-medium: 0.9375rem;
    --text-font-size-small: 0.8125rem;
    --text-font-size-xsmall: 0.75rem;

    // Base colors
    --text-color: #{ $c-grey--900 };
    --link-color: #{ $c-thunderbird-1 };
    --caption-color: #{ $c-grey--900 };
    --list-bullet-color: #{ $c-grey--900 };
    --hr-color: #{ $c-thunderbird-3 };
    --pre-border-color: #{ $c-grey--400 };
    --highlight-color: #{ $c-thunderbird-4 };
    --body-bcg: #{ $c-grey--100 };
    --error-color: #{ $c-thunderbird-1 };

    // Button sizing
    --button-font-size: 1.375rem;
    --button-height: 36px;
    --button-padding: 0 24px;

    // Table
    --table-bcg: #{ $c-white };
    --table-bcg-hover: #{ $c-grey--200 };
    --table-border-color: #{ $c-grey--250 };
    --table-border-color-total: #{ $c-grey--900 };
    --table-heading-color: #{ $c-grey--900 };
    --table-head-heading-color: #{ $c-grey--700 };
    --table-cell-padding: #{ $p-gutter--small $p-gutter };
    --table-head-cell-padding: 0.75rem #{ $p-gutter };

    // Form
    --form-bcg: #{ $c-white };
    --form-border: #{ $c-black-transparent };
    --form-input-bcg: #{ $c-grey--100 };
    --form-input-padding-horizontal: 1rem;
    --form-input-padding-vertical: 0.5rem;
    --form-input-border: #{ $c-grey--300 };
    --form-input-border-focus: #{ $c-grey--600 };
    --form-input-color: #{ $c-grey--900 };
    --form-input-hint-color: #{ $c-grey--600 };
    --form-input-placeholder: #{ $c-grey--400 };
    --form-input-disabled-bcg: #{ $c-white };
    --form-input-disabled-color: #{ $c-grey--400 };
    --form-input-checkmark: #{ $c-grey--900 };
    --form-label-color: #{ $c-grey--900 };
    --form-sublabel-color: #{ $c-grey--600 };
    --form-intro-color: #{ $c-grey--600 };
    --form-subtext-color: #{ $c-grey--600 };
    --form-warning: #{ $c-carrot-1 };
    --form-error: #{ $c-error };
    --form-spinner: #{ $c-grey--600 };
    --form-horizontal-label-width: 200px;

    // Other
    --version-color: #{ $c-grey--600 };
    --overflow-gradient-width: 40px;
    --overflow-gradient-left: #{ linear-gradient(to right, $c-grey--200, transparent) };
    --overflow-gradient-right: #{ linear-gradient(to left, $c-grey--200, transparent) };
}
