@use 'sass:color';
@use 'config' as *;
@use 'mixins/screen';
@use 'mixins/sr-only';
@use 'mixins/typography';

:root {
    --header-profile-color: #{ $c-grey--700 };
    --header-avatar-background: #{ $c-thunderbird-1 };
    --header-avatar-color: #{ $c-white };
    --header-menu-footer-background: #{ $c-grey--100 };
    --header-menu-footer-border: #{ $c-black-transparent };
}

.header {
    $self: &;

    align-items: center;
    display: flex;
    height: $h-header;
    justify-content: space-between;

    &__profile {
        align-items: center;
        display: flex;
        font-family: $font-barlow;
        font-weight: $weight-medium;
        gap: 1rem;
        position: relative;

        &--link {
            &:focus,
            &:hover {
                --header-avatar-background: #{ $c-thunderbird-2 };
                --header-profile-color: #{ $c-grey--900 };
            }

            #{ $self }__email {
                @include sr-only.apply;
            }
        }
    }

    &__email {
        @include typography.style-text-small;

        color: var(--header-profile-color);
        font-family: $font-barlow;
        font-weight: $weight-medium;
    }

    &__avatar {
        align-items: center;
        background: var(--header-avatar-background);
        border-radius: 50%;
        color: var(--header-avatar-color);
        display: flex;
        font-size: 1.125rem;
        height: 32px;
        justify-content: center;
        padding-bottom: 2px; // Make up for font alignment base
        text-transform: uppercase;
        width: 32px;
    }

    &__menu {
        --menu-padding: 0;
        --menu-min-width: 300px;
    }

    &__menu-heading {
        padding: $p-gutter;
    }

    &__menu-footer {
        background: var(--header-menu-footer-background);
        border-top: 1px solid var(--header-menu-footer-border);
        display: flex;
        gap: 1rem;
        justify-content: space-between;
        padding: $p-gutter;
    }

    @include screen.min($screen-simple) {
        &__profile--link {
            #{ $self }__email {
                @include sr-only.remove;
            }
        }
    }
}
