@use 'config' as *;


:root {
    --alert-background: #{ $c-deep-cerulean-5 };
    --alert-border: #{ $c-deep-cerulean-1 };
    --alert-icon: #{ $c-deep-cerulean-1 };
}

.alert {
    $self: &;

    align-items: center;
    background: var(--alert-background);
    border: 1px solid var(--alert-border);
    border-radius: $b-radius;
    display: flex;
    gap: 1rem;
    padding: $p-gutter;

    & + #{ $self } {
        margin-top: $p-gutter;
    }

    &__icon {
        color: var(--alert-icon);
    }

    &--warning {
        --alert-background: #{ $c-schoolbus-5 };
        --alert-border: #{ $c-schoolbus-1 };
        --alert-icon: #{ $c-schoolbus-1 };
    }

    &--error {
        --alert-background: #{ $c-thunderbird-5 };
        --alert-border: #{ $c-thunderbird-1 };
        --alert-icon: #{ $c-thunderbird-1 };
    }

    &--simple {
        --alert-background: transparent;

        align-items: flex-end;
        border: 0;
        gap: $p-gutter--small;
        padding: 0;
    }
}
