<giz-entry-header
    [title]="title"
    [backButton]="{
        icon: icon.ARROW_BACK,
        text: backTitle,
        link: [moduleRoute.ENTRIES, (id$ | async)],
    }"
>
    @if (activeScenario) {
        <button giz-stroke-button i18n="scenario reset" (click)="reset()">Select different scenario</button>
    }
</giz-entry-header>

<div class="scenarios">
    @if (activeScenario) {
        <div class="scenarios__columns">
            <div class="scenarios__info">
                <giz-scenario-card
                    class="scenarios__card"
                    [scenario]="activeScenario"
                    [selectable]="false"
                ></giz-scenario-card>
                <div class="todo">Extra info</div>
            </div>
            <div class="scenarios__specification">
                <div class="todo">Specifications</div>
            </div>
        </div>
    } @else {
        <p class="scenarios__intro" i18n="secnario intro">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus id sem pretium, malesuada elit vitae, ullamcorper tellus. Maecenas lacus odio, vulputate quis magna id, interdum elementum mauris. Phasellus magna quam, luctus quis elit eu, porta tempus metus.</p>

        <ul class="scenarios__list">
            @for (scenario of scenarios; track scenario) {
                <li class="scenarios__item">
                    <giz-scenario-card
                        [scenario]="scenario"
                        [selectable]="true"
                        [active]="scenario.id === selectedScenario?.id"
                        (selected)="selectScenario(scenario)"
                    ></giz-scenario-card>
                </li>
            }
        </ul>

        <div class="scenarios__buttons">
            <button giz-stroke-button
                    i18n="scenario select"
                    [disabled]="!selectedScenario"
                    (click)="saveScenario()"
            >Select scenario</button>
        </div>
    }
</div>
