<giz-entry-header
    [title]="title"
    [backButton]="{
        icon: icon.ARROW_BACK,
        text: backTitle,
        link: [moduleRoute.ENTRIES, entryId()],
    }"
>
    @if (scenarioState !== 'start') {
        <button giz-stroke-button
                theme="basic"
                i18n="scenario reset"
                [disabled]="scenarioUpdateMutation.isPending() || scenarioCreateMutation.isPending()"
                (click)="reset()"
        >Select different scenario</button>
    }
    @if (scenarioState === 'view') {
        <button giz-stroke-button
                theme="basic"
                i18n="scenario change-specs"
                (click)="changeSpecs()"
        >Change specifications</button>

        <a giz-stroke-button
           [routerLink]=" [moduleRoute.ENTRIES, entryId(), entryRoute.DISTRIBUTION ]"
           i18n="continue">Continue</a>
    }
</giz-entry-header>

<div class="scenarios">
    @if (!entry || entry.isLoading() || !scenarioState) {
        <giz-spinner class="scenarios__spinner" [size]="'large'"></giz-spinner>
    } @else if (entry.isError() || !entry.data()) {
        <giz-no-results>
            <p i18n="entry error">Error getting entry.</p>
        </giz-no-results>
    } @else {
       @if (entry.data() && scenarioState !== 'start' && activeScenario) {
          <giz-scenario
              [scenario]="activeScenario"
              [entry]="entry.data()"
              [workers]="workers"
              [state]="scenarioState === 'view' ? 'view' : 'edit'"
              [saving]="scenarioUpdateMutation.isPending() || scenarioCreateMutation.isPending()"
              (pagingUpdated)="onPageEvent($event)"
              (submitSpecs)="saveSpecs($event)"
          ></giz-scenario>
        } @else {
            <p class="scenarios__intro" i18n="scenario intro">
                The GIZ Living Wage Costing Tool offers various simulations to analyse the direct cost implications for producers to pay workers a living wage.
                You can choose to either explore the cost implications of closing the living wage gap by increasing wage levels of all workers below living wage to living wage or close the living wage gap by absolute wage increases per job category.
            </p>

            <ul class="scenarios__list">
                @for (scenario of scenarios; track scenario) {
                    <li class="scenarios__item">
                        <giz-scenario-card
                            [scenario]="scenario"
                            [selectable]="true"
                            [active]="scenario.type === selectedScenario?.type"
                            (selected)="selectScenario(scenario)"
                        ></giz-scenario-card>
                    </li>
                }
            </ul>

            <div class="scenarios__buttons">
                <button
                    giz-stroke-button
                    i18n="scenario select"
                    [disabled]="!selectedScenario"
                    (click)="saveScenario()">
                    Select scenario</button>
            </div>
        }
    }
</div>


@if (scenarioState === 'view') {
    <giz-entry-footer
        [backButton]="{
            icon: icon.ARROW_BACK,
            text: backTitle,
            link: [moduleRoute.ENTRIES, entryId()],
        }"
    >
        <a giz-stroke-button
           [routerLink]=" [moduleRoute.ENTRIES, entryId(), entryRoute.DISTRIBUTION ]"
           i18n="continue">Continue</a>
    </giz-entry-footer>
}
