@use 'config' as *;
@use 'mixins/typography';

:root {
    --tooltip-bcg: #{ $c-grey--900 };
    --tooltip-color: #{ $c-white };
}

.tooltip {
    @include typography.style-text-small;

    background: var(--tooltip-bcg);
    border-radius: $b-radius;
    box-shadow: $c-shadow-6;
    color: var(--tooltip-color);
    font-family: $font-barlow;
    font-weight: $weight-medium;
    line-height: 1;
    max-width: 300px;
    padding: 6px 12px;
}
