<div class="table" gizScrollOverflow [ngClass]="{
    'is-loading': this.loading,
    'table--compact': this.type === 'compact',
    'table--info': this.type === 'info',
    'table--overview': this.type === 'overview',
    'table--report': this.type === 'report',
    'table--no-border': noBorder,
    'table--sticky': stickyColumn,
}">
    <div class="table__container" gizScrollOverflowContainer>
        <table>
            <caption class="table__caption" [ngClass]="{
                'table__caption--hide': hideCaption,
                'table__caption--small': captionSize === 'small'
            }">{{ caption }}</caption>
            <thead role="rowgroup"><ng-content select="[thead]"></ng-content></thead>
            <tbody role="rowgroup"><ng-content></ng-content></tbody>
        </table>
    </div>
</div>
