<div class="table" gizScrollOverflow [ngClass]="{
    'is-loading': this.loading,
    'table--info': this.type === 'info',
    'table--overview': this.type === 'overview',
}">
    <div class="table__container" gizScrollOverflowContainer>
        <table>
            <caption class="table__caption" [ngClass]="{ 'table__caption--hide': hideCaption }">{{ caption }}</caption>
            <thead role="rowgroup"><ng-content select="[thead]"></ng-content></thead>
            <tbody role="rowgroup"><ng-content></ng-content></tbody>
        </table>
    </div>
</div>
