<giz-dialog [title]="title" (closeDialog)="cancel()" size="medium">
    <p class="worker-edit__description" i18n="worker-edit description">Please specify the minimum wage increase for this specific job category.</p>

    <form class="form form--horizontal" autocomplete="off" [formGroup]="form" (ngSubmit)="submit()">
        <div class="form__definition form__definition--left">
            <p class="form__label" i18n="worker-specs job-category">Job-category</p>
            <p class="form__text">{{ data.worker.name }}
                <span class="form__subtext"> - {{ data.worker.gender | gender }}, {{ data.worker.nrOfWorkers }}
                    <span i18n="data.workers">{ data.worker.nrOfWorkers, plural, =1 {worker} other {workers}}</span>
                </span>
            </p>
        </div>

        <div class="form__definition form__definition--left">
            <p class="form__label" i18n="worker-specs lw-gap">Living wage gap</p>
            <p class="form__text">{{ data.worker.livingWage?.livingWageGap | currency: data.entry.payroll.currencyCode: "" }} {{ data.entry.payroll.currencyCode }}</p>
        </div>

        <div class="form__field" [ngClass]="{
            'is-error': form | hasError: 'remunerationIncrease',
            'has-value': form | hasValue: 'remunerationIncrease',
        }">
            <label class="form__label" for="remunerationIncrease" i18n="form remunerationIncrease label">Minimum wage increase</label>

            <div class="form__input">
                <input type="number" id="remunerationIncrease" formControlName="remunerationIncrease"/>
                <span class="form__postfix">{{ data.entry.payroll.currencyCode }}</span>
            </div>
            @if (form | hasError: 'remunerationIncrease' :'required') {
                <div class="form__error" i18n="form remunerationIncrease errors required">Field is required</div>
            }
            @if (form | hasError: 'remunerationIncrease' :'min') {
                <div class="form__error" i18n="form remunerationIncrease errors min">Minimum is 0</div>
            }
        </div>

        @if (remunerationIncrease?.value && remunerationIncrease?.value < (data.worker.livingWage?.livingWageGap ?? 0)) {
            <giz-alert type="warning"><span i18n="wage-increase-too-low"> Wage increase is set lower than living wage gap.</span></giz-alert>
        }
    </form>

    <ng-container footer-left>
        <button type="button" giz-stroke-button
                (click)="reset()" [disabled]="scenarioUpdateWorkerMutation.isPending()"
                i18n="worker-edit reset">Reset to defaults</button>
        @if (scenarioUpdateWorkerMutation.isPending()) {
            <giz-spinner theme="grey">
                <span i18n="worker-edit submitting">Submitting...</span>
            </giz-spinner>
        }
    </ng-container>

     <ng-container footer-right>
         <button type="button" giz-stroke-button theme="basic"
                 (click)="cancel()" [disabled]="scenarioUpdateWorkerMutation.isPending()"
                 i18n="worker-edit cancel">Cancel</button>
         <button type="submit" giz-stroke-button
                 [disabled]="scenarioUpdateWorkerMutation.isPending()" (click)="submit()"
                 i18n="worker-edit save">Save</button>
    </ng-container>

</giz-dialog>
