<div class="cp" [ngClass]="{ 'cp--wide': size === 'wide' }">
    <div class="cp__header">
        <giz-header
            [breadcrumb]="breadcrumb"
        ></giz-header>
    </div>
    <main class="cp__content">
        <ng-content></ng-content>
    </main>
    <div class="cp__footer">
        <giz-footer></giz-footer>
    </div>

    @if (showBackground) {
        <img class="cp__background"
             [src]="baseHref + 'assets/images/home-background.svg'" alt=""
             height="500" width="1280"/>
    }
</div>
