<giz-entry-header
    [title]="title"
    [backButton]="{
        icon: icon.ARROW_BACK,
        text: backTitle,
        link: [moduleRoute.ENTRIES, entryId(), entryRoute.DISTRIBUTION]
    }"
>
    @if (saving) {
        <giz-spinner theme="grey" [reverse]="true">
            <span i18n="distro saving">Saving...</span>
        </giz-spinner>
    }
    <button type="submit" giz-stroke-button i18n="save-and-continue" (click)="saveEntry()">Save and continue</button>
</giz-entry-header>

<div class="buyer">
    @if (!entry || entry.isLoading()) {
        <giz-spinner class="buyer__spinner" [size]="'large'"></giz-spinner>
    } @else if (entry.isError() || !entry.data()) {
        <p i18n="entry error">Error getting entry.</p>
    } @else {
        <div class="buyer__info">
            <form class="form form--horizontal" autocomplete="off" [formGroup]="form" (ngSubmit)="saveEntry()">
                <div class="form__container">
                    <div class="form__header">
                        <h3 class="form__title" i18n="buyer title">Buyer specification (optional)</h3>
                        <p class="form__intro" i18n="buyer subtext"
                        >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce consequat, erat in tincidunt
                        molestie, est purus mollis odio, sit amet consectetur est nibh vitae libero.
                        </p>
                    </div>

                    <div
                        class="form__field"
                        [ngClass]="{
                            'is-error': form | hasError: 'buyerName',
                            'has-value': form | hasValue: 'buyerName'
                        }"
                    >
                        <label class="form__label" for="buyerName" i18n="form buyerName label">Name*</label>
                        <div class="form__input">
                            <input type="text" id="buyerName" formControlName="buyerName" />
                        </div>
                    </div>

                    <div class="form__fieldset">
                        <p class="form__label" i18n="form buyerAmount label">Buying proportion * </p>
                        <div class="form__group form__group--unit">
                            <div
                                class="form__field"
                                [ngClass]="{
                                    'is-error': form | hasError: 'buyerAmount',
                                    'has-value': form | hasValue: 'buyerAmount'
                                }"
                            >
                                <label class="form__label is-hidden" for="buyerAmount" i18n="form buyerAmount label">Buying proportion</label>
                                <div class="form__input">
                                    <input type="number" id="buyerAmount" formControlName="buyerAmount" />
                                    <span class="form__hint" i18n="form buyerAmount hint">portion of total annual production</span>
                                    @if (form | showError: 'buyerAmount' : 'min') {
                                        <div class="form__error" i18n="form buyerAmount errors min">Minimum is 0</div>
                                    }
                                    @if (form.hasError('aboveMax')) {
                                        <div class="form__error" i18n="form buyerAmount errors max">Maximum is 100</div>
                                    }
                                </div>
                            </div>

                            <div
                                class="form__field"
                                [ngClass]="{
                                    'is-error': form | hasError: 'buyerUnit',
                                    'has-value': form | hasValue: 'buyerUnit'
                                }"
                            >
                                <label class="form__label is-hidden" for="buyerUnit" i18n="form buyerUnit label">Unit</label>
                                <div class="form__select">
                                    <select id="buyerUnit" formControlName="buyerUnit">
                                        @for (unit of buyerUnits; track $index) {
                                            <option [ngValue]="unit">{{ getUnitLabel(unit) }}</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="buyer__entry">
            @if (entry.data(); as entry) {
                <giz-table class="buyer__table" type="info" [caption]="getTableCaption()" [hideCaption]="true">
                    <ng-container>
                        <tr giz-table-row>
                            <th giz-table-header-cell i18n="buyer base-wage label">Entry ID</th>
                            <td giz-table-cell type="copy">
                                <button
                                    giz-icon-button
                                    [icon]="icon.COPY"
                                    [theme]="'basic'"
                                    [size]="'small'"
                                    [cdkCopyToClipboard]="entry.id.toUpperCase()"
                                    i18n="copy"
                                >Copy</button>
                                {{ entry.id.toUpperCase()| empty }}
                            </td>
                        </tr>
                        <tr giz-table-row>
                            <th giz-table-header-cell i18n="buyer bonuses label">Created on</th>
                            <td giz-table-cell>{{ entry?.createdAt | date }}</td>
                        </tr>
                        <tr giz-table-row>
                            <th giz-table-header-cell i18n="buyer ikb label">Edited on</th>
                            <td giz-table-cell>{{ entry?.updatedAt | date }}</td>
                        </tr>
                    </ng-container>
                </giz-table>
                <span class="form__hint buyer__form-hint" i18n="form field optional">(*) Optional field</span>
            }
        </div>
    }
</div>

<giz-entry-footer
    [backButton]="{
        icon: icon.ARROW_BACK,
        text: backTitle,
        link: [moduleRoute.ENTRIES, entryId(), entryRoute.DISTRIBUTION]
    }"
>
</giz-entry-footer>
