@import 'config/sizes';
@import 'mixins/screen';
@import 'mixins/typography';

.buyer {
    display: flex;
    flex-direction: column;
    gap: $p-gutter--large;

    &__header {
        margin-bottom: $p-gutter;
    }

    &__form-hint {
        font-style: italic;
        padding: 0 1rem;
    }

    @include screen($screen-simple) {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: auto;
    }

    @include screen($screen-normal) {
        &__header {
            display: grid;
            gap: 0 $p-gutter;
            grid-template:
                'title title' fit-content(100%)
                'subtext buttons' fit-content(100%) / 750px 1fr;
        }

        &__title {
            grid-area: title;
            margin: 0 0 $p-gutter--small;
        }

        &__subtext {
            align-self: center;
            grid-area: subtext;
            margin-bottom: 0;
        }
    }
}
