@import 'config/colors';
@import 'config/sizes';
@import 'mixins/typography';

:root {
    --chart-subtitle: #{ $c-grey--600 };
}

.chart {
    &__category {
        tspan + tspan {
            color: var(--chart-subtitle);
            font-size: var(--text-font-size-small);
            font-weight: $weight-normal;
        }
    }
}
