@import 'config/sizes';
@import 'mixins/typography';

.entry-header {
    display: flex;
    flex-wrap: wrap;
    gap: $p-gutter--small;
    justify-content: space-between;
    margin-bottom: 2rem;

    &__heading {
        align-items: center;
        display: flex;
        gap: 1rem;
    }

    &__title {
        @include style-heading-2;

        margin: 0;
    }

    &__actions {
        display: flex;
        gap: 1rem;
    }
}
