@import './config/colors';

:root {
    --menu-item-bcg: #{ $c-white };
    --menu-item-bcg-hover: #{ $c-grey--200 };
    --menu-item-icon-color: #{ $c-grey--700 };
}

.menu-item {
    align-items: center;
    background: var(--menu-item-bcg);
    display: flex;
    padding: 0.625rem 1rem;
    text-decoration: none;
    transition: background-color 0.2s;
    width: 100%;

    &:focus,
    &:hover {
        background: var(--menu-item-bcg-hover);
    }

    &__icon {
        --icon-size: 20px;

        color: var(--menu-item-icon-color);

        &--active {
            --menu-item-icon-color: #{ $c-forest--darker };

            margin-left: auto;
        }
    }
}
