<div class="dashboard">
    <div class="dashboard__intro">
        <div class="dashboard__content">
            <h1 class="dashboard__title" i18n="dashboard title">Welcome</h1>
            <p class="dashboard__version">v1.15.0</p>
            <div class="dashboard__description">
                <p i18n="dashboard description line-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Consectetur adipiscing elit ut aliquam purus.</p>
                <p i18n="dashboard description line-2">Dictum varius duis at consectetur lorem donec massa sapien. Id aliquet lectus proin nibh. Ornare aenean euismod elementum nisi quis. Diam quis enim lobortis scelerisque fermentum.</p>
            </div>
        </div>
        <div class="dashboard__logos">
            <giz-logos></giz-logos>
        </div>
    </div>
    @if (!entries || entries.isLoading()) {
        <giz-spinner class="dashboard__spinner"></giz-spinner>
    }
    @if (entries.data() && entries.data()?._embedded?.entries?.length) {
        <h2 class="dashboard__subtitle" i18n="dashboard continue">Continue with</h2>
        <ul class="dashboard__entries">
            @for (entry of entries.data()?._embedded?.entries; track entry) {
                <li class="dashboard__entry">
                    <giz-entry-card [entry]="entry" [link]="[(moduleRoute.ENTRIES), entry.id]"></giz-entry-card>
                </li>
            }
        </ul>
    }
    <div class="dashboard__buttons">
        <button giz-stroke-button (click)="createEntry()" i18n="entries create-new">Create new entry</button>

        @if (!entries.isLoading() && entries.data() && entries.data()?._embedded?.entries?.length) {
            <a giz-link-button [routerLink]="[(moduleRoute.ENTRIES)]" i18n="entries view-all">View all</a>
        }
    </div>
</div>
