@use 'config' as *;
@use 'mixins/screen';
@use 'mixins/typography';

.dashboard {
    margin: 0 auto;
    max-width: 984px;

    &__intro {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &__title {
        @include typography.style-heading-1-hero;

        margin: 0 0 $p-gutter--small;
    }

    &__version {
        @include typography.style-text-small;

        color: var(--version-color);
    }

    &__entries {
        display: grid;
        gap: $p-gutter;
        margin-bottom: $p-gutter;
    }

    &__buttons {
        display: flex;
        gap: 1rem;
    }

    &__spinner {
        display: inline-flex;
        margin-bottom: 1rem;
    }

    @include screen.min($screen-simple) {
        &__entries {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    @include screen.min($screen-normal) {
        &__intro {
            flex-direction: row;
        }

        &__content {
            margin-bottom: $p-gutter--large;
            padding-top: 5rem;
        }

        &__logos {
            margin-left: -6rem;
        }
    }

    @include screen.min($screen-large) {
        padding-top: 6vh;
    }
}
