<div class="dialog__header">
    <div class="dialog__heading">
        <h2 class="dialog__title">{{ title }}</h2>
        @if (showCloseButton) {
            <button class="dialog__close"
                    i18n="close button"
                    giz-icon-button
                    [icon]="icon.CLOSE"
                    [theme]="'basic'"
                    (click)="close()"
            >Close</button>
        }
    </div>
    @if (intro) {
        <div class="dialog__intro" [innerHTML]="intro | markdown"></div>
    }
</div>
<div class="dialog__content">
    <div class="dialog__column">
        <ng-content></ng-content>
    </div>
    <div class="dialog__column">
        <ng-content select="[content-right]"></ng-content>
    </div>
</div>
<div class="dialog__footer">
    <div class="dialog__column dialog__column--footer">
        <ng-content select="[footer-left]"></ng-content>
    </div>
    <div class="dialog__column dialog__column--footer">
        <ng-content select="[footer-right]"></ng-content>
    </div>
</div>


