@import 'config/colors';
@import 'config/shadows';
@import 'config/sizes';
@import 'mixins/typography';

:root {
    --dialog-background: #{ $c-white };
    --dialog-text: #{ $c-grey--700 };
    --dialog-width: 500px;
}

.dialog {
    $self: &;

    background-color: var(--dialog-background);
    border-radius: $b-radius;
    box-shadow: $c-shadow-24;
    display: flex;
    flex-direction: column;
    height: 100%;
    max-height: 90vh;
    padding: 25px;
    position: relative;
    width: min(calc(100vw - (2 * $p-gutter)), var(--dialog-width));

    &__header {
        margin-bottom: $p-gutter;
    }

    &__heading {
        align-items: flex-start;
        display: flex;
        flex: none;
        justify-content: space-between;
        width: 100%;
    }

    &__title {
        @include style-heading-dialog;

        flex: 1;
        margin: 0;
    }

    &__intro {
        color: var(--dialog-text);
        margin: 1rem 0 0.5rem;
    }

    &__content {
        color: var(--dialog-text);
        flex: auto;
        overflow-y: auto;
    }

    &__footer {
        align-items: center;
        display: flex;
        flex: none;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: space-between;
        margin-top: $p-gutter;

        &:empty {
            display: none;
        }
    }

    &__column {
        &--footer {
            align-items: center;
            display: flex;
            gap: 1rem;

            &:last-child {
                justify-content: flex-end;
            }
        }
    }

    &__close {
        flex: 0 0 auto;
        margin-right: -6px;
    }

    &--small {
        --dialog-width: 350px;
    }

    &--medium {
        --dialog-width: 650px;
    }

    &--large {
        --dialog-width: 800px;
    }

    @include screen($screen-normal) {
        &__content {
            display: flex;
            gap: $p-gutter--large;
        }

        &__column {
            flex: 1;

            &:empty {
                display: none;
            }
        }

        &--uneven {
            #{ $self }__column:first-child {
                flex-basis: 55%;
            }

            #{ $self }__column:last-child {
                flex-basis: 45%;
            }
        }
    }
}
