<giz-dialog [title]="title" (closeDialog)="cancel()">
    <p class="todo">TODO</p>

    <ng-container footer-left>
        @if (mutation.isPending()) {
            <giz-spinner theme="grey">
                <span i18n="updating">Updating...</span>
            </giz-spinner>
        }
    </ng-container>

    <ng-container footer-right>
        <button type="button"
                giz-stroke-button
                theme="basic"
                [disabled]="mutation.isPending()"
                (click)="cancel()"
                i18n="cancel"
        >Cancel</button>
        <button type="button"
                giz-stroke-button
                [disabled]="mutation.isPending()"
                (click)="disable()"
                i18n="disable-2fa"
        >Disable 2FA</button>
    </ng-container>
</giz-dialog>
