<giz-entry-header
    [title]="title"
    [backButton]="{
        icon: icon.ARROW_BACK,
        text: backTitle,
        link: [moduleRoute.ENTRIES, entryId(), entryRoute.SCENARIO],
    }"
>
    @if (state === 'view') {
        <button giz-stroke-button
                theme="basic"
                i18n="distribution change-specs"
                (click)="changeSpecs()"
        >Change specifications</button>

        <a giz-stroke-button
           [routerLink]=" [moduleRoute.ENTRIES, entryId(), entryRoute.BUYER ]"
           i18n="continue">Continue</a>
    }
</giz-entry-header>

<div class="distribution">
    @if (!entry || entry.isLoading()) {
        <giz-spinner class="distribution__spinner" [size]="'large'"></giz-spinner>
    } @else if (entry.isError() || !entry.data()) {
        <p i18n="entry error">Error getting entry.</p>
    } @else {
        <div class="distribution__info">
            <h3 class="distribution__title" i18n="description">Description</h3>
            <p class="distribution__description" i18n="distribution description">Please specify how you would like to redistribute the additional funds (in % per category). If no specifications are chosen all funds will be allocated to the base wage.</p>

            @if (state === 'edit') {
                <div class="distribution__comments">
                    <h3 i18n="comments">Comments</h3>
                    <p i18n="distribution comment1">The additional voluntary contribution will have to be passed on to the workers. Since in kind benefits and bonuses can be an important component of remuneration, it is important to include them in the calculation. In this section you can specify what % of the voluntary contribution you want to allocate to the respective category.</p>
                    <p i18n="distribution comment2">Please be advised that based on the principles for in-kind benefits outlined in the Anker Methodology, contribution of in-kind benefits (i.e. non-monetary benefits such as food, transport or housing provided by the employer that reduce the amount of cash income that workers need for a decent standard of living) to total renumeration is limited to ensure the worker right to self determination. The combined total value of in-kind benefits is capped at 30% of total remuneration. Housing is capped at 15% of total remuneration. All other benefits are capped at 10% of total remuneration.
                        In order to reflect realities on the ground  for now you are able to exceed the maximum specified. However this will have implications on the total renumeration calculated in the IDH salary matrix.</p>
                </div>
            }
        </div>
        <div class="distribution__specification">
            @if (state === 'edit' && entry.data(); as entry) {
               <giz-distribution-form
                   [distribution]="entry?.scenario?.distribution"
                   [submitting]="saving"
                   (submitForm)="saveDistribution($event)"
               ></giz-distribution-form>
            }
            @if (state !== 'edit' && entry.data(); as entry) {
                <giz-table class="distribution__table" type="info" [caption]="getTableCaptionSpecs()">
                    <ng-container>
                        <tr giz-table-row>
                            <th giz-table-header-cell i18n="distribution base-wage label">Base wage</th>
                            <td giz-table-cell>{{ entry?.scenario?.distribution?.baseWagePerc }} %</td>
                        </tr>
                        <tr giz-table-row>
                            <th giz-table-header-cell i18n="distribution bonuses label">Bonuses</th>
                            <td giz-table-cell>{{ entry?.scenario?.distribution?.bonusesPerc }} %</td>
                        </tr>
                        <tr giz-table-row>
                            <th giz-table-header-cell i18n="distribution ikb label">In-kind benefits</th>
                            <td giz-table-cell>
                                {{ entry?.scenario?.distribution?.ikbPerc }} %
                                <p class="table-cell__subtitle">
                                    <span>{{ entry?.scenario?.distribution?.ikbHousingPerc }}% <span i18n="housing">Housing</span></span>,
                                    <span>{{ entry?.scenario?.distribution?.ikbFoodPerc }}% <span i18n="food">Food</span></span>,
                                    <span>{{ entry?.scenario?.distribution?.ikbTransportPerc }}% <span i18n="transportation">Transportation</span></span>,
                                    <span>{{ entry?.scenario?.distribution?.ikbHealthcarePerc }}% <span i18n="healthcare">Healthcare</span></span>,
                                    <span>{{ entry?.scenario?.distribution?.ikbChildcarePerc }}% <span i18n="childcare">Childcare</span></span>,
                                    <span>{{ entry?.scenario?.distribution?.ikbChildEducationPerc }}% <span i18n="childEducation">Child education</span></span>
                                </p>
                            </td>
                        </tr>
                    </ng-container>
                </giz-table>
            }
        </div>

        @if (state === 'view') {
            <div class="distribution__categories">
                <div class="distribution__header">
                    <h3 class="distribution__title" i18n="scenario overview-title">Overview</h3>
                    <p class="distribution__intro" i18n="distribution overview-description">Below an overview per job-category. If you want, you can overrule the default distribution per job-category.</p>
                    <div class="distribution__buttons">
                        <button giz-stroke-button theme="basic"
                                i18n="workers reset" (click)="resetAll()">Reset all</button>
                    </div>

                </div>

                @if (!workers || workers.isLoading()) {
                    <giz-spinner class="distribution__spinner" [size]="'large'"></giz-spinner>
                } @else if (workers.isError()) {
                    <giz-no-results>
                        <p i18n="workers error">Error getting workers.</p>
                        @for (error of workers.error().error | keyvalue; track error) {
                            <p>{{ error.value }}</p>
                        }
                    </giz-no-results>
                } @else {
                    @if (workers.data() && workers.data()?._embedded?.workers?.length) {
                        <giz-table
                            [caption]="getTableCaption(workers.data()?.paging?.totalEntities)"
                            [hideCaption]="true"
                            [type]="'compact'"
                        >
                            <ng-container thead>
                                <tr giz-table-header-row>
                                    <th giz-table-header-cell size="wide" i18n="workers job-category label">Job category</th>
                                    <th giz-table-header-cell alignment="right" i18n="workers total-monthly-remnueration label">Total monthly remuneration</th>
                                    <th giz-table-header-cell alignment="right" i18n="workers wage-increase label">Wage Increase</th>
                                    <th giz-table-header-cell alignment="center">
                                        <p i18n="workers distribution label">Distribution</p>
                                        <p class="table-cell__subtitle" i18n="workers distribution sublabel">Base wage / Bonusses / IKB</p>
                                    </th>
                                    <th giz-table-header-cell type="actions"><span i18n="entry action">Actions</span></th>
                                </tr>
                            </ng-container>
                            <ng-container>
                                @for (worker of workers.data()?._embedded?.workers; track worker) {
                                    <tr giz-table-row [editted]="isEditted(worker)">
                                        <td giz-table-cell size="wide">
                                            {{ worker.name }}
                                            <span class="table-cell__subtitle"> - {{ worker.gender | gender }}, {{ worker.nrOfWorkers }}
                                                <span i18n="workers">{ worker.nrOfWorkers, plural, =1 {worker} other {workers}}</span>
                                        </span>
                                        </td>
                                        <td giz-table-cell alignment="right">
                                            {{ worker.remuneration?.total | currency: entry.data()?.payroll?.currencyCode : '' }} {{ entry.data()?.payroll?.currencyCode }}
                                        </td>
                                        <td giz-table-cell alignment="right">
                                            {{  getWageIncrease(worker) | currency: entry.data()?.payroll?.currencyCode : '' | empty }} {{ entry.data()?.payroll?.currencyCode }}
                                        </td>
                                        <td giz-table-cell alignment="center"
                                        >
                                            <span gizTooltipAdvanced [template]="tooltipIKB" class="table-cell__tooltip">
                                                {{ getDistribution(worker).baseWagePerc }}% /  {{ getDistribution(worker).bonusesPerc }}% /  {{ getDistribution(worker).ikbPerc }}%
                                            </span>
                                            <ng-template #tooltipIKB>
                                                <giz-tooltip-advanced>
                                                    <giz-table
                                                        [type]="'info'"
                                                        [caption]="getTableCaptionTooltip()"
                                                        [hideCaption]="true"
                                                        [noBorder]="true"
                                                    >
                                                        <ng-container>
                                                            <tr giz-table-row>
                                                                <th giz-table-header-cell i18n="base-wage">Base Wage</th>
                                                                <td giz-table-cell>{{ getDistribution(worker).baseWagePerc }}%</td>
                                                            </tr>
                                                            <tr giz-table-row>
                                                                <th giz-table-header-cell i18n="base-wage">Bonuses</th>
                                                                <td giz-table-cell>{{ getDistribution(worker).bonusesPerc }}%</td>
                                                            </tr>
                                                            <tr giz-table-row>
                                                                <th giz-table-header-cell i18n="base-wage" class="table-cell--ikb">In-kind benefits</th>
                                                                <td giz-table-cell class="table-cell--ikb">{{ getDistribution(worker).ikbPerc }}%</td>
                                                            </tr>
                                                            <tr giz-table-row>
                                                                <td giz-table-cell [colSpan]="2" alignment="right">
                                                                    <p class="table-cell__subtitle">
                                                                    <span>{{ getDistribution(worker).ikbHousingPerc }}% <span i18n="housing">Housing</span></span>,
                                                                    <span>{{ getDistribution(worker).ikbFoodPerc }}% <span i18n="food">Food</span></span>,
                                                                    <span>{{ getDistribution(worker).ikbTransportPerc }}% <span i18n="transportation">Transportation</span></span>,
                                                                    <span>{{ getDistribution(worker).ikbHealthcarePerc }}% <span i18n="healthcare">Healthcare</span></span>,
                                                                    <span>{{ getDistribution(worker).ikbChildcarePerc }}% <span i18n="childcare">Childcare</span></span>,
                                                                    <span>{{ getDistribution(worker).ikbChildEducationPerc }}% <span i18n="childEducation">Child education</span></span>
                                                                    </p>
                                                                </td>
                                                            </tr>
                                                        </ng-container>
                                                </giz-table>
                                                </giz-tooltip-advanced>
                                            </ng-template>
                                        </td>
                                        <td giz-table-cell type="actions">
                                            <button type="button" giz-icon-button
                                                    theme="basic" [icon]="icon.EDIT"
                                                    i18n="distribution worker edit"
                                                    (click)="editWorker(worker)"
                                            >Edit distribution
                                            </button>
                                        </td>
                                    </tr>
                                }
                            </ng-container>
                        </giz-table>

                        @if ((workers.data()?.paging?.totalPages ?? 1 ) > 1) {
                            <giz-paginator
                                [page]="(workers.data()?.paging?.index ?? 0) + 1"
                                [pageSize]="workers.data()?.paging?.size ?? 25"
                                [total]="workers.data()?.paging?.totalPages ?? 0"
                                [totalEntries]="workers.data()?.paging?.totalEntities ?? 0"
                                [showFirstLast]="false"
                                (paging)="onPageEvent($event)"
                            ></giz-paginator>
                        }
                    } @else {
                        <giz-no-results>
                            <p i18n="workers not-found">No job categories found.</p>
                        </giz-no-results>
                    }
                }

            </div>
        }
    }
</div>
@if (state === 'view') {
    <giz-entry-footer
        [backButton]="{
            icon: icon.ARROW_BACK,
            text: backTitle,
            link: [moduleRoute.ENTRIES, entryId(), entryRoute.SCENARIO],
        }"
    >
        <a giz-stroke-button
           [routerLink]=" [moduleRoute.ENTRIES, entryId(), entryRoute.BUYER ]"
           i18n="continue">Continue</a>
    </giz-entry-footer>
}
