@use 'sass:color';
@import 'config/colors';
@import 'config/sizes';
@import 'mixins/screen';

:root {
    --footer-link-color: #{ $c-grey--700 };
    --footer-divider-color: #{ color.scale($c-grey--900, $alpha: -80%) };
}

.footer {
    $self: &;

    padding: $p-gutter--small $p-gutter;

    &__items {
        display: flex;
        flex-wrap: wrap;
        gap: 0.25rem 1rem;
    }

    &__item {
        &::after {
            background: var(--footer-divider-color);
            content: '';
            display: inline-block;
            height: 14px;
            margin-left: 1rem;
            vertical-align: middle;
            width: 1px;
        }

        &:last-child::after {
            display: none;
        }
    }

    &__link,
    &__legal {
        color: var(--footer-link-color);
        text-decoration: none;
    }

    &__link {
        border-bottom: 1px solid transparent;
        transition: border-bottom-color 0.2s;

        &:focus,
        &:hover {
            border-bottom-color: currentColor;
        }
    }

    &__switcher {
        margin-left: 0.5rem;

        &.button--link {
            --button-padding: 0.5rem 0;
        }
    }

    .button--link.button--basic {
        --button-color: #{ $c-grey--700 };
        --button-color-hover: #{ $c-grey--700 };
    }

    &--white {
        --footer-link-color: #{ $c-white };

        .button--link.button--basic {
            --button-color: #{ $c-white };
            --button-color-hover: #{ $c-white };
        }
    }

    @include screen($screen-simple) {
        align-items: center;
        display: flex;
        justify-content: space-between;
    }
}
