<giz-dialog [title]="title" [size]="'large'" (closeDialog)="cancel()">
    <form class="form" autocomplete="off" [formGroup]="form" (ngSubmit)="submit()">
        <div class="form__field" [ngClass]="{
            'is-error': form | hasError: 'currentPassword',
            'has-value': form | hasValue: 'currentPassword',
        }">
            <div class="form__input">
                <label class="form__label" for="currentPassword" i18n="form currentPassword label">Your current password</label>
                <input type="password" id="currentPassword" formControlName="currentPassword"/>
            </div>
            @if (form | showError: 'currentPassword' :'required') {
                <div class="form__error" i18n="form password errors required">Password is required</div>
            }
            @if (wrongPassword) {
                <div class="form__error" i18n="form password errors incorrect">Password is incorrect.</div>
            }
        </div>

        <div class="form__field" [ngClass]="{
            'is-error': form | hasError: 'password',
            'has-value': form | hasValue: 'password',
        }">
            <div class="form__input">
                <label class="form__label" for="password" i18n="form passwordNew label">New Password</label>
                <input type="password" id="password" formControlName="password"/>
                <button type="button"
                        class="form__tooltip"
                        giz-icon-button
                        theme="basic"
                        [icon]="icon.HELP"
                        gizTooltip
                        [text]="tooltipPassword"></button>
            </div>
            @if (form | showError: 'password' :'required') {
                <div class="form__error" i18n="form password errors required">Password is required</div>
            }
            @if (form | showError: 'password' :'passwordLength') {
                <div class="form__error" i18n="form password errors length">Password must be between 12 & 200 characters</div>
            }
            @if (form | showError: 'password' :'passwordUpperAndLowerCase') {
                <div class="form__error" i18n="form password errors case">Password must contain upper- and lowercase characters</div>
            }
            @if (form | showError: 'password' :'passwordNumbers') {
                <div class="form__error" i18n="form password errors numbers">Password must contain numbers</div>
            }
            @if (form | showError: 'password' :'passwordSpecialCharacters') {
                <div class="form__error" i18n="form password errors special">Password must contain special characters</div>
            }
        </div>

        <div class="form__field" [ngClass]="{
            'is-error': form | hasError: 'passwordConfirm',
            'has-value': form | hasValue: 'passwordConfirm',
        }">
            <div class="form__input">
                <label class="form__label"  for="passwordConfirm" i18n="form passwordNewConfirm label">Repeat new password</label>
                <input type="password" id="passwordConfirm" formControlName="passwordConfirm"/>
            </div>
            @if (form | showError: 'passwordConfirm' :'required') {
                <div class="form__error" i18n="form passwordConfirm errors equal">Passwords do not match</div>
            }
            @if (form.hasError('noMatch')) {
                <div class="form__error" i18n="form passwordConfirm errors equal">Passwords do not match</div>
            }
        </div>

        @if (user.data()?.twoFactorEnabled) {
            <div class="form__field" [ngClass]="{
                'is-error': form | hasError: 'otpCode',
                'has-value': form | hasValue: 'otpCode',
            }">
                <div class="form__input">
                    <label class="form__label"  for="otpCode" i18n="form otpCode label">OTP Code</label>
                    <input type="password" id="otpCode" formControlName="otpCode"/>

                    <button type="button"
                            class="form__tooltip"
                            giz-icon-button
                            theme="basic"
                            [icon]="icon.HELP"
                            gizTooltip
                            [text]="tooltipOTP"></button>
                </div>
                @if (form | showError: 'password' :'required') {
                    <div class="form__error" i18n="form optCode errors required">OTP Code is required</div>
                }
                @if (wrongOTP) {
                    <div class="form__error" i18n="form optCode errors incorrect">OTP Code is not correct</div>
                }
            </div>
        }
    </form>

    <ng-container content-right>
        <dl>
            <dt i18n="strong-password title">Use a strong password</dt>
            <dd i18n="strong-password description">Try to create a long password with a mix of letters, numbers, and symbols.</dd>

            <dt i18n="password-reuse title">Avoid password reuse!</dt>
            <dd i18n="password-reuse description">Reusing passwords puts all your accounts at risk if one is compromised.</dd>

            <dt i18n="password-secure title">Store passwords securely</dt>
            <dd i18n="password-secure description">Keep passwords safe, not handwritten. Explore secure storage options like password managers.</dd>
        </dl>

        <giz-password-strength [password]="password?.value"></giz-password-strength>
    </ng-container>

    <ng-container footer-left>
        @if (mutation.isPending()) {
            <giz-spinner theme="grey">
                <span i18n="updating">Updating...</span>
            </giz-spinner>
        }
    </ng-container>

    <ng-container footer-right>
        <button type="button"
                giz-stroke-button
                theme="basic"
                [disabled]="mutation.isPending()"
                (click)="cancel()"
                i18n="cancel"
        >Cancel</button>
        <button type="button"
                giz-stroke-button
                [disabled]="mutation.isPending()"
                (click)="submit()"
                i18n="change-password"
        >Change password</button>
    </ng-container>
</giz-dialog>
