@use 'config' as *;

:root {
    --menu-background: #{ $c-white };
    --menu-padding: 5px 0;
    --menu-min-width: 200px;
}

.menu {
    $self: &;

    background-color: var(--menu-background);
    border-radius: $b-radius;
    box-shadow: $c-shadow-6;
    display: block;
    min-width: var(--menu-min-width);
    padding: var(--menu-padding);
    position: relative;
}
