@use 'sass:color';

// Forest
$c-forest--darkest: #005351;
$c-forest--darker: #00625fff;
$c-forest--dark: #33817fff;
$c-forest: #66a09fff;
$c-forest--light: #9ac0bfff;
$c-forest--lighter: #cde0dfff;
$c-forest--lightest: #e0eceb;

// Rose
$c-rose--darker: #f44336;
$c-rose--dark: #f6695e;
$c-rose: #f88e86;
$c-rose--light: #fbb4af;
$c-rose-lighter: #fdd9d7;
$c-rose-lightest: #fde8e6;

// Stone
$c-stone--darker: #2d2d32ff;
$c-stone--dark: #57575bff;
$c-stone: #818184ff;
$c-stone--light: #ababadff;
$c-stone--lighter: #d5d5d6ff;

// Greyscale
$c-grey--900: #2d2d32;
$c-grey--700: #57575b;
$c-grey--600: #818184;
$c-grey--400: #ababad;
$c-grey--300: #d5d5d6;
$c-grey--200: #eee;
$c-grey--100: #fafafa;
$c-black: #000;
$c-white: #fff;

// Branding
$c-giz-red: #da1c2380;
$c-ina-green: #9da04280;

// State
$c-info: #0098ff;
$c-success: #00625f;
$c-warning: #ffc505;
$c-error: #f44336;
$c-error--dark: #c30f08;

// Password Strength
$c-password-weak: #c30f08;
$c-password-medium: #faab1a;
$c-password-strong: #a2be69;
$c-password-very-strong: #0fa90d;
