@use 'sass:color';

// Thunderbird
$c-thunderbird-1: #c30f08;
$c-thunderbird-2: #cf3f39;
$c-thunderbird-3: #db6f6b;
$c-thunderbird-4: #e79f9c;
$c-thunderbird-5: #f3cfce;

// Dove Grey
$c-dov-grey-1: #6f6f6f;
$c-dov-grey-2: #8c8c8c;
$c-dov-grey-3: #a9a9a9;
$c-dov-grey-4: #c5c5c5;
$c-dov-grey-5: #e2e2e2;

// Schoolbus
$c-schoolbus-1: #fdc400;
$c-schoolbus-2: #fdd033;
$c-schoolbus-3: #fedc66;
$c-schoolbus-4: #fee799;
$c-schoolbus-5: #fff3cc;

// Carrot
$c-carrot-1: #ef9424;
$c-carrot-2: #f2a950;
$c-carrot-3: #f5bf7c;
$c-carrot-4: #f9d4a7;
$c-carrot-5: #fcead3;

// Ce Soir
$c-ce-soir-1: #876ba1;
$c-ce-soir-2: #9f89b4;
$c-ce-soir-3: #b7a6c7;
$c-ce-soir-4: #cfc4d9;
$c-ce-soir-5: #e7e1ec;

// Lima
$c-lima-1: #89ae19;
$c-lima-2: #a1be47;
$c-lima-3: #b8ce75;
$c-lima-4: #d0dfa3;
$c-lima-5: #e7efd1;

// Pacific
$c-pacific-1: #009bc2;
$c-pacific-2: #33afce;
$c-pacific-3: #66c3da;
$c-pacific-4: #99d7e7;
$c-pacific-5: #ccebf3;

// Deep cerulean
$c-deep-cerulean-1: #0077b2;
$c-deep-cerulean-2: #3392c1;
$c-deep-cerulean-3: #66add1;
$c-deep-cerulean-4: #99c9e0;
$c-deep-cerulean-5: #cce4f0;

// Greyscale
$c-grey--900: #2d2d32;
$c-grey--700: #57575b;
$c-grey--600: #818184;
$c-grey--400: #ababad;
$c-grey--300: #d5d5d6;
$c-grey--250: #dcdcdc;
$c-grey--200: #eee;
$c-grey--100: #fafafa;
$c-black: #000;
$c-white: #fff;

// Branding
$c-giz-red: #da1c2380;
$c-ina-green: #9da04280;

// State
$c-info: #0098ff;
$c-success: #00625f;
$c-warning: #ffc505;
$c-error: #f44336;
$c-error--dark: #c30f08;

// Password Strength
$c-password-weak: #c30f08;
$c-password-medium: #faab1a;
$c-password-strong: #a2be69;
$c-password-very-strong: #0fa90d;
