// colors
// forest
$c-forest--darker: #00625fff;
$c-forest--dark: #33817fff;
$c-forest: #66a09fff;
$c-forest--light: #9ac0bfff;
$c-forest--lighter: #cde0dfff;

// rose
$c-rose--darker: #F44336;
$c-rose--dark: #F6695E;
$c-rose: #F88E86;
$c-rose--light: #FBB4AF;
$c-rose-lighter: #FDD9D7;

// stone
$c-stone--darker: #2d2d32ff;
$c-stone--dark: #57575bff;
$c-stone: #818184ff;
$c-stone--light: #ababadff;
$c-stone--lighter: #d5d5d6ff;

// greyscale
$c-black: #000;
$c-white: #fff;
$c-grey--darkest: #1e2234;
$c-grey--darker: #3d4157;
$c-grey--dark: #616266;
$c-grey: #888b97;
$c-grey--light: #c1c1c1;
$c-grey--lighter: #efefef;
$c-grey--lightest: #fafafa;
