// Screen sizes
$screen-xsmall: 340px;
$screen-minimal: 480px;
$screen-simple: 768px;
$screen-normal: 1024px;
$screen-large: 1280px;
$screen-xlarge: 1440px;
$screen-huge: 1680px;
$screen-jumbo: 1920px;

// Gutters
$p-gutter: 20px;
$p-gutter--xlarge: 60px;
$p-gutter--large: 30px;
$p-gutter--small: 10px;
$p-gutter--xsmall: 5px;

// Borders
$b-radius: 5px;

// Site
$h-header: 56px;
$w-site: $screen-large;
