@use 'config' as *;
@use 'mixins/overflow-gradient';

.tab-group {
    @include overflow-gradient.apply;

    display: block;
    margin-bottom: -1px;
    position: relative;

    &.is-overflowing {
        margin-right: -$p-gutter;
    }

    &__list {
        display: flex;
        overflow-x: auto;
        scroll-behavior: smooth;
        scroll-snap-type: x proximity;
        scrollbar-width: none;
    }
}
