@use 'config' as *;
@use 'mixins/sr-only';
@use 'mixins/svg';

:root {
    --breadcrumb-color: #{ $c-grey--600 };
    --breadcrumb-color-active: #{ $c-grey--900 };
    --breadcrumb-color-hover: #{ $c-grey--900 };
}

giz-breadcrumb {
    display: inline-block;
}

.breadcrumb {
    $self: &;

    align-items: center;
    display: flex;
    gap: 0.5rem;
    overflow: hidden;
    text-overflow: ellipsis;

    &__item {
        align-items: center;
        color: var(--breadcrumb-color);
        display: flex;

        &--icon:not(.is-active) {
            #{ $self }__text {
                @include sr-only.apply;
            }
        }

        &.is-active {
            color: var(--breadcrumb-color-active);
        }
    }

    &__link {
        align-items: center;
        color: currentColor;
        display: flex;
        gap: 0.5rem;
        text-decoration: none;
        transition: color 0.2s;

        &:focus,
        &:hover {
            color: var(--breadcrumb-color-hover);
        }
    }

    &__divider {
        align-self: flex-end;
        color: var(--breadcrumb-color);
        margin-left: 0.5rem;
    }
}
