<ul class="breadcrumb">
    @for (item of breadcrumb; track item.name; let i = $index) {
        <li class="breadcrumb__item" [ngClass]="{
             'is-active': item.active,
             'breadcrumb__item--icon': !!item.icon,
        }">
            @if (item.icon && item.link) {
                <a class="breadcrumb__link breadcrumb__link--icon" [routerLink]="item.link">
                    <giz-icon class="breadcrumb__icon" [icon]="item.icon"></giz-icon>
                    <span class="breadcrumb__text">{{ item.name }}</span>
                </a>
            }
            @else if (item.icon) {
                <giz-icon class="breadcrumb__icon" [icon]="item.icon"></giz-icon>
            }
            @else if (item.link) {
                <a class="breadcrumb__link" [routerLink]="item.link">
                    <span class="breadcrumb__text">{{ item.name }}</span>
                </a>
            } @else {
                <span class="breadcrumb__text">{{ item.name }}</span>
            }

            @if (i !== 0 && i !== breadcrumb.length - 1) {
                <giz-icon class="breadcrumb__divider" [icon]="icon.CHEVRON_RIGHT" size="small"></giz-icon>
            }
        </li>
    }
</ul>
