@import 'config/colors';
@import 'mixins/sr-only';

:host {
    display: inline-block;
}

:root {
    --breadcrumb-color: #{ $c-grey--600 };
    --breadcrumb-color-active: #{ $c-grey--900 };
    --breadcrumb-color-hover: #{ $c-grey--900 };
}

.breadcrumb {
    $self: &;

    align-items: center;
    display: flex;
    gap: 0.5rem;
    overflow: hidden;
    text-overflow: ellipsis;

    &__item {
        align-items: center;
        color: var(--breadcrumb-color);
        display: flex;

        &--icon:not(.is-active) {
            #{ $self }__text {
                @include sr-only;
            }
        }

        &.is-active {
            color: var(--breadcrumb-color-active);
        }

        &::after {
            content: '>';
            margin-left: 0.5rem;
        }

        &:first-child,
        &:last-child {
            &::after {
                display: none;
            }
        }
    }

    &__link {
        align-items: center;
        color: currentColor;
        display: flex;
        gap: 0.5rem;
        text-decoration: none;
        transition: color 0.2s;

        &:focus,
        &:hover {
            color: var(--breadcrumb-color-hover);
        }
    }
}
