<div class="scenario" [ngClass]="{ 'scenario--edit' : state === 'edit' } ">
    <div class="scenario__info">
        <h3 class="scenario__title">{{ scenario.title }}</h3>
        <p class="scenario__description">{{ scenario.description }}</p>
        <figure class="scenario__image">
            <img [src]="baseHref + scenario.imageUrl" i18n-alt alt="Graphic representation of scenario"
                 height="80" width="150"/>
        </figure>

        @if (state === 'edit') {
            <div class="scenario__comments">
                <h3 i18n="comments">Comments</h3>
                <p>{{ scenario.comment1 }}</p>

                @if (scenario.comment2) {
                    <p>{{ scenario.comment2 }}</p>
                }
            </div>
        }
    </div>
    <div class="scenario__specification">
        @if (state === 'edit' && entry) {
            <giz-scenario-specs-form
                [type]="scenario.type"
                [entry]="entry"
                [submitting]="!!saving"
                (submitForm)="onSubmitSpecs($event)"
            ></giz-scenario-specs-form>
        } @else if (entry) {
            <table class="scenario__table">
                <caption i18n="scenario specs title">Specifications</caption>
                <!-- TODO: overheadCosts inputs like figma -->
                <tbody>
                    @if (scenario.type === scenarioType.ABSOLUTE_INCREASE) {
                        <tr>
                            <th i18n="scenario taxes-employer label">Minimum wage increase</th>
                            <td>{{ entry.scenario?.specification?.remunerationIncrease }} {{ entry.payroll.currencyCode }}</td>
                        </tr>
                    }
                    <tr>
                        <th i18n="scenario close-gap label">Close living wage gap</th>
                        <td i18n="yes">Yes</td>
                    </tr>
                    <tr>
                        <th i18n="scenario taxes-employee label">Taxes and levies employee</th>
                        <td>{{ entry.scenario?.specification?.taxEmployee }} %</td>
                    </tr>
                    <tr>
                        <th i18n="scenario taxes-employer label">Taxes and levies employer</th>
                        <td>{{ entry.scenario?.specification?.taxEmployer}} %</td>
                    </tr>
                </tbody>
            </table>
        }
    </div>

    @if (state === 'view') {
        <div class="scenario__categories">
            <div class="scenario__header">
                <h3 class="scenario__title" i18n="scenario overview-title">Overview</h3>

                @if (scenario.overviewIntro) {
                    <p class="scenario__intro">{{ scenario.overviewIntro }}</p>
                }
                @if (scenario.type === scenarioType.ABSOLUTE_INCREASE) {
                    <div class="scenario__buttons">
                        <button giz-stroke-button theme="basic"
                            i18n="workers reset" (click)="resetAll()">Reset all</button>
                    </div>
                }
            </div>

            @if (!workers || workers.isLoading()) {
                <giz-spinner class="scenario__spinner" [size]="'large'"></giz-spinner>
            } @else if (workers.isError()) {
                <div class="scenario__no-results">
                    <p i18n="workers error">Error getting workers.</p>
                    @for (error of workers.error().error | keyvalue; track error) {
                        <p>{{ error.value }}</p>
                    }
                </div>
            } @else {
                @if (workers.data() && workers.data()?._embedded?.workers?.length) {
                    <giz-table
                        [caption]="getTableCaption(workers.data()?.paging?.totalEntities)"
                        [hideCaption]="true"
                        [type]="'compact'"
                    >
                        <ng-container thead>
                            <tr giz-table-header-row>
                                <th giz-table-header-cell size="wide" i18n="workers job-category label">Job category</th>
                                <th giz-table-header-cell alignment="right" i18n="workers total-monthly-remnueration label">Total monthly remuneration</th>
                                <th giz-table-header-cell alignment="right" i18n="workers living-wage-gap label">Living wage gap</th>
                                <th giz-table-header-cell alignment="right" i18n="workers wage-increase label">Wage Increase</th>
                                @if (scenario.type === scenarioType.ABSOLUTE_INCREASE) {
                                    <th giz-table-header-cell type="actions">
                                        <span i18n="entry action">Actions</span>
                                    </th>
                                }
                            </tr>
                        </ng-container>
                        <ng-container>
                            @for (worker of workers.data()?._embedded?.workers; track worker) {
                                <tr giz-table-row [editted]="!!worker.scenario.specification?.remunerationIncrease">
                                    <td giz-table-cell size="wide">
                                        {{ worker.name }}
                                        <span class="table-cell__subtitle"> - {{ worker.gender | gender }}, {{ worker.nrOfWorkers }}
                                            <span i18n="workers">{ worker.nrOfWorkers, plural, =1 {worker} other {workers}}</span>
                                        </span>
                                    </td>
                                    <td giz-table-cell alignment="right">
                                        {{ worker.remuneration?.baseWage | currency: entry?.payroll?.currencyCode : '' }} {{ entry?.payroll?.currencyCode }}
                                    </td>
                                    <td giz-table-cell alignment="right">
                                        {{ worker.livingWage?.livingWageGap | currency: entry?.payroll?.currencyCode : '' | empty }} {{ entry?.payroll?.currencyCode }}
                                    </td>
                                    <td giz-table-cell alignment="right">
                                        {{  getWageIncrease(worker)  | currency: entry?.payroll?.currencyCode : '' | empty }} {{ entry?.payroll?.currencyCode }}
                                    </td>
                                    @if (scenario.type === scenarioType.ABSOLUTE_INCREASE) {
                                        <td giz-table-cell type="actions">
                                            <button type="button" giz-icon-button
                                                    theme="basic" [icon]="icon.EDIT"
                                                    i18n="scenario job-category edit"
                                                    (click)="edit(worker)"
                                            >Edit wage increase
                                            </button>
                                        </td>
                                    }
                                </tr>
                            }
                        </ng-container>
                    </giz-table>

                    @if ((workers.data()?.paging?.totalPages ?? 1 ) > 1) {
                        <giz-paginator
                            [page]="(workers.data()?.paging?.index ?? 0) + 1"
                            [pageSize]="workers.data()?.paging?.size ?? 25"
                            [total]="workers.data()?.paging?.totalPages ?? 0"
                            [totalEntries]="workers.data()?.paging?.totalEntities ?? 0"
                            [showFirstLast]="false"
                            (paging)="onPageEvent($event)"
                        ></giz-paginator>
                    }
                } @else {
                    <div class="workers__no-results">
                        <p i18n="workers not-found">No job categories found.</p>
                    </div>
                }
            }
        </div>
    }
</div>
